/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * General Widgetkit Style Sheet for RTL
 */


/* Widget: Slideset
----------------------------------------------------------------------------------------------------*/

.wk-slideset .set {
	-webkit-transform-origin: right top;
	-moz-transform-origin: right top;
	-ms-transform-origin: right top;
	-o-transform-origin: right top;
	transform-origin: right top;
}