div.icon-48-logo {
	background: url(../images/OSEAntiViruslogo.png) no-repeat;
	text-indent: 160px;
}

#scanningresults .x-window-body {
	background: #FFF none repeat scroll 0 0;
	border: 1px solid #CCE0FF;
	color: #666;
	padding: 10px;
}

#loadingindicator {
	background: url(../images/ajax-loader.gif) no-repeat scroll right center
		transparent;
	height: 40px;
	display: none;
}

.button-next {
	height: 34px;
	line-height: 34px;
	width: 200px;
	text-align: center;
	font-weight: 700;
	color: #333;
	background: #9c3;
	border: solid 1px #690;
	cursor: pointer;
}

#oseframe {
	padding: 20px;
	border: 1px solid #9c3;
	background: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif
}

.osebackground {
	background: #2A2A2A;
}

.osetitle {
	margin-top: 10px;
	margin-left: 60px;
	font-size: large;
}

.oseheader {
	b .ackground: url(../images/layout-browser-hd-bg.gif) repeat-x center;
	background:
		url(../../../../templates/khepri/images/h_cherry/j_header_middle.png)
		repeat-x center;
	b .ackground-color: #048FC2;
	height: 50px;
	overflow: hidden;
	padding-top: 10px;
	margin-left: 5px;
	margin-botton: 10px;
}

.oseheader h1 {
	color: #ffffff;
	margin-left: 75px;
	margin-top: 10px;
	font-size: large;
}

.smalllogoaction_progress {
	float: left;
	margin-left: 15px;
	margin-top: -5px;
}

#task-views li {
	margin: 10px 0px 0px 10px;
}

#content-panel {
	margin-left: 5px;
	background-color: #ffffff;
	border-width: 0px;
	position: absolute;
	left: 100px;
	top: 100px;
	width: 100px;
	height: 420px;
	overflow: auto;
}

#sidebar,#sidebar-xsplit {
	background-color: #FFFFFF;
}

#osecptitle.osecptitle {
	background: url(../images/j_header_middle.png) repeat-x;
}

#osecptitle.osecptitle div {
	background: url(../images/j_header_right.png) 100% 0 no-repeat;
}

#osecptitle.osecptitle div div {
	background: url(../images/j_header_left.png) no-repeat;
	height: 54px;
}

#osecptitle .title {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	line-height: 44px;
	padding-left: 180px;
}

#osecptitle .version {
	display: block;
	float: right;
	color: #fff;
	padding: 25px 5px 0 0;
}

#border-bottom {
	background: url(../images/j_bottom.png) repeat-x;
}

#border-bottom div {
	background: url(../images/j_corner_br.png) 100% 0 no-repeat;
}

#border-bottom div div {
	background: url(../images/j_corner_bl.png) no-repeat;
	height: 11px;
}

.ch-heading {
	display: block;
	width: 100%;
	clear: both;
	color: #515151;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	font: bold 24px/30px Arial, sans-serif;
	white-space: nowrap;
}

.center-content {
	background: none repeat-x scroll 0 -300px #FCFCFC;
	border: 1px solid #C1C1C1;
	min-height: 200px;
	padding: 4px;
	width: 98%;
	margin-top: 10px;
	margin-left: 5px;
	color: #F02222;
	float: none;
}

.center-content .info,.center-setting .info {
	color: #005E7B;
	margin-top: 10px;
	margin-left: 5px;
	font-weight: bold;
}

.center-content .action_panel {
	display: block;
	height: 80px;
	width: 98%;
	margin-top: 15px;
	margin-left: 5px;
}

.center-content .action_panel .action_button {
	min-height: 28px;
	float: right;
	background-color: #ffffff;
	width: 100%;
}

.center-content .action_panel .action_progress {
	margin-top: 10px;
	width: 100%;
	min-height: 45px;
	float: left;
	background-color: #FFF0F0;
	border: 1px solid #FFBFC0;
	box-shadow: 1px 1px 0 #E6E6E6;
	clear: both;
	color: #F02222;
}

.center-content .action_panel .action_progress #fspbar,.center-content .action_panel .action_progress #vspbar
	{
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

.center-content .action_panel .action_progress #fspbartext,.center-content .action_panel .action_progress #vspbartext,.center-content .action_panel .action_progress #vsrpbartext
	{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.center-content .action_panel .button {
	float: right;
	background-color: #ffffff;
	color: #048FC2;
	font: bold 1em Tahoma, Arial, Helvetica, FreeSans, sans-serif;
	padding-top: -10px;
	padding-bottom: 5px;
	border: 1px solid #BBBBBB;
	height: 22px;
	margin-right: 5px;
	margin-top: 3px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	cursor: pointer;
}

.center-content .stat_panel {
	width: 98%;
	margin-left: 5px;
	margin-top: 10px;
	float: left;
	padding-bottom: 20px;
}

.center-content .stat_panel .stat_heading {
	margin-left: 5px;
	margin-top: 5px;
	text-align: right;
}

.center-content .stat_panel .stat {
	border-bottom: 1px dotted #9E9E9E;
	border-right-width: 0;
	height: auto;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-top: 10px;
	padding: 5px 0;
	width: 350px;
	float: right;
	color: #666666;
	font-weight: bold;
}

.center-content .stat_panel .stat span {
	color: #000000;
	font-weight: bold;
	margin-left: 5px;
}

.center-content #vsrfooter {
	margin-top: 10px;
}

.center-content #vsrfooter .button {
	background-color: #048FC2;
	color: #ffffff;
	font: bold 1em Tahoma, Arial, Helvetica, FreeSans, sans-serif;
	padding-top: -10px;
	padding-bottom: 5px;
	border: 1px solid #BBBBBB;
	height: 22px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	cursor: pointer;
}

.center-content #vsraction_panel {
	margin-top: -8px;
}

.center-content #vsritems {
	margin-left: 5px;
	color: #666666;
}

.center-content #vsritems .row0 {
	background-color: #F2F6FF;
	height: 40px;
}

.center-content #vsritems .row1,.center-content #vsritems .title {
	background-color: #FFFFFF;
	height: 40px;
}

.center-content .title {
	font-weight: bold;
}

.center-setting {
	background-color: #FCFCFC;
	border: 1px solid #C1C1C1;
	padding: 4px 4px 30px 4px;
	width: 68%;
	margin-bottom: 10px;
	color: #005E7B;
}

#clamavcanning,#filescanning {
	background-color: #FCFCFC;
	border: 1px solid #C1C1C1;
	padding: 0px;
	width: 99%;
	margin: 10px 0px 0px 5px;
	color: #444444;
	float: left;
	text-align: left;
	border-radius: 5px 5px 0 0;
}

#clamavcanning {
	margin-top: 0px;
}

#clamavcanning .content {
	text-align: right;
}

#vssetting {
	background-color: #FCFCFC;
	border: 1px solid #C1C1C1;
	padding: 0px 0px 10px 0px;
	width: 99%;
	color: #444444;
	flot:left;
	text-align: left;
	border-radius: 5px 5px 0 0;
	margin: 10px 5px 10px 5px;
}

#vssetting dl button{
	margin-left: 15px; 	
}

#filescanning .center-setting {
	width: 280px;
	clear: both;
}
#virusscanning .center-setting,#virusscanning #vscp {
	margin: 10px 0px 0px 300px;
}

.center-setting .setting {
	background-color: #E8F1FF !important;
	border: 1px solid #CCE0FF !important;
	color: #111111;
	border: 1px solid #C1C1C1;
	margin-top: 10px;
	margin-left: 5px;
	color: #005E7B;
	min-height: 45px;
	margin-bottom: 10px;
}

.center-setting .setting .content {
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	color: #666666;
}

.center-setting .setting .content .button {
	float: right;
	background-color: #048FC2;
	color: #ffffff;
	font: bold 1em Tahoma, Arial, Helvetica, FreeSans, sans-serif;
	padding-top: -10px;
	padding-bottom: 5px;
	border: 1px solid #BBBBBB;
	height: 22px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	cursor: pointer;
}

.notice {
	overflow: hidden;
	background-color: #FFFAEA;
	border-color: #FB8200;
	color: #BF4900;
	border-style: solid;
	border-width: 2px;
	padding: 10px;
	width: 1200px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.warning {
	color: red;
}

.tips {
	background-color: #FCFCFC;
	border: 0px solid #C1C1C1;
	padding: 4px;
	height: 100%;
	margin-top: 0px;
	margin-left: 0px;
	color: #005E7B;
}

.center-setting .content .heading {
	color: #048FC2;
	font: bold 1em Tahoma, Arial, Helvetica, FreeSans, sans-serif;
}

.center-setting .content .odd {
	background-color: #F2F6FF;
	min-height: 25px;
}

.center-setting .content .even {
	background-color: #FFFFFF;
	min-height: 25px;
}

.virusfound {
	color: red;
	font-weight: bold;
}

#init-content-panel {
	margin-left: 0px;
	background-color: #ffffff;
	border-width: 0px;
	position: relative;
	width: 97%;
	min-height: 400px;
	overflow: auto;
	text-align: left;
	padding: 5px;
	border: 1px solid #9c3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
}

#scansetting {
	padding: 0px;
	width: 100%;
	float: left;
}



.container .header {
	background: -moz-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -o-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -ms-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -webkit-linear-gradient(top, #DC1B21 0%, #BE161A 100%)
		repeat scroll 0 0 #BE161A;
	background: linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat scroll
		0 0 #BE161A;
	background-color: #BE161A; text-shadow : 0 1px 1px rgba( 0, 0, 2, 0.6);
	border-radius: 5px 5px 0 0;
	color: #FFFFFF;
	font: bold 13px Arial, Helvetica, sans-serif;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 2, 0.6);
}

#scan_ext_info,.info {
	font: bold 13px Arial, Helvetica, sans-serif;
	line-height: 30px;
	background: url(../images/24icon.png) no-repeat scroll 8px 8px
		transparent;
	text-indent: 25px;
	padding: 5px;
	text-align: left;
}

.selectedFolders ul {
	font: normal 13px Arial, Helvetica, sans-serif;
	line-height: 30px;
	text-indent: 25px;
	padding: 5px;
	text-align: left;
}

.selectedFolders ul li {
	font: normal 14px Arial, Helvetica, sans-serif;
	border-bottom: 1px dotted #aEaEaE;
	margin-left: 25px;
	text-indent: 0px;
	color: #24262e;
}

.warning {
	color: red;
}

#cur_fileexts {
	width: 100%;
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* css-3 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
	font-weight: normal;
}

#oseAVConfig-panel fieldset input,#oseAVConfig-panel fieldset textarea,#oseAVConfig-panel fieldset select,#oseAVConfig-panel fieldset img,#oseAVConfig-panel fieldset button
	{
	float: left;
	margin: 0px 0px 0px 1px;
	width: 17px;
}

#oseAVConfig-panel .x-form-check-wrap {
	line-height: 16px;
}

#oseAVConfig-panel .x-form-label-top .x-form-element {
	margin-top: 5px;
}

.ose-notice {
	background: none repeat scroll 0 0 #489AD3;
	border-right: 1px solid #157296;
	border-radius: 0px;
	color: #28292E;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 5px;
	text-align: left;
	width: 97%;
}

.x-form-label-top .x-form-item label.x-form-item-label {
	clear: none;
	display: inline;
	float: left;
	margin-bottom: 0px;
	position: static;
	min-width: 225px;
}

#clamavcanning .clamav_on {
	background: url("../images/service_on.png") no-repeat scroll 0 8px
		transparent;
	font: bold 13px/30px Arial, Helvetica, sans-serif;
	padding: 5px;
	text-align: left;
	text-indent: 25px;
}

#clamavcanning .clamav_off {
	background: url("../images/service_off.png") no-repeat scroll 0 8px
		transparent;
	font: bold 13px/30px Arial, Helvetica, sans-serif;
	padding: 5px;
	text-align: left;
	text-indent: 25px;
}

#vssetting button {
	border: 0 solid #0049AC;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	cursor: pointer;
	font: bold 12px arial, helvetica, sans-serif;
	height: 24px;
	margin: 0;
	outline: 0 none;
	overflow: hidden;
	padding: 0 14px;
	text-align: center !important;
	text-shadow: 0 1px 1px rgba(0, 0, 2, 0.6);
	vertical-align: bottom;
	white-space: nowrap;
	width: auto;
	background: -moz-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -o-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -ms-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -webkit-linear-gradient(top, #DC1B21 0%, #BE161A 100%)
		repeat scroll 0 0 #BE161A;
	background: linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat scroll
		0 0 #BE161A;
	background-color: #BE161A;
}

.version-check {
	background: none repeat scroll 0 0 #FE3F40;
	border: 0px solid #157296;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 0;
	padding: 5px 5px 5px 20px;
	text-align: left;
}

#dashboardicons {
	border-color: #FFBFC0;
	border-style: solid;
	border-width: 0 1px 1px 0;
}

.x-grid-group-hd,.x-panel,.x-panel-body,.x-panel-bbar .x-toolbar,.x-panel-tbar .x-toolbar
	{
	border-color: #FFBFC0;
}

.x-grid-group-hd div.x-grid-group-title {
	color: #F33F3F;
}

.x-panel-body {
	border-width: 1px;
}

#configuration a,#configuration a:link,#configuration a:visited {
	color: #444444;
	text-decoration: none;
	font-weight: normal;
}

.ose-notice {
	margin-top: 0px;
}

.x-form-element {
	float: none;
}

#scanconf .x-form-element,#seoconf .x-form-element {
	float: left;
}

.x-form-label-top .x-form-item label.x-form-item-label {
	clear: none;
	display: inline;
	float: left;
	margin-bottom: 0px;
	position: static;
	min-width: 225px;
}

.section a,.section a:link,.section a:visited {
	color: #F02222;
	text-decoration: none;
	font-weight: bold;
}

.grid-title  a,.grid-title a:link,.grid-title a:visited {
	color: #FFFFFF;
}

dl
{
	padding: 2px 10px;
}