/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * Joomla 2.5 specific
 */

.icon-48-widgetkit { background: url(../images/widgetkit.png) 0 0 no-repeat; }

.saving .icon-32-save,
.saving .icon-32-apply { background-image: url(../images/loader_big.gif); }

#widgetkit div.sidebar {
	width: 280px;
	margin: 0px;
	float: right;
}

#widgetkit div.form { margin: 0 300px 0 0; }

#widgetkit .button-primary,
#widgetkit .button-secondary {
	margin-right: 10px;
	padding: 3px 10px;
	border: 1px #BBB solid;
	background: -moz-linear-gradient(top, rgb(255,255,255) 50%, rgb(237,237,237) 89%);
	background: -webkit-linear-gradient(top, rgb(255,255,255) 50%, rgb(237,237,237) 89%);
	background: -o-linear-gradient(top, rgb(255,255,255) 50%, rgb(237,237,237) 89%);
	background: linear-gradient(to bottom, rgb(255,255,255) 50%, rgb(237,237,237) 89%);
	border-radius: 10px;
	color: #464646;
	font-size: 11px;
	line-height: 15px;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}

#widgetkit .button-primary:hover,
#widgetkit .button-secondary:hover {
	border-color: #666;
	color: #000;
}

#widgetkit p { margin: 1em 0; }

#widgetkit input[type='text']:focus,
#widgetkit input[type='password']:focus,
#widgetkit select:focus,
#widgetkit textarea:focus { background-color: #fff; }


/* Hide Joomla Style
----------------------------------------------------------------------------------------------------*/

#content-box #element-box div.m {
	margin: 0;
	padding: 0;
	border: none;
}

#content-box #element-box div.t,
#content-box #element-box div.b { display: none; }

div#element-box {
	background: #fff !important;
	background-color: #fff !important;
}
#element-box div.m {
	background: #fff !important;
	background-color: #fff !important;
}

/* Gallery
----------------------------------------------------------------------------------------------------*/

#widgetkit.gallery p.actions {
	display: none;
}

/* ZOO
----------------------------------------------------------------------------------------------------*/

#widgetkit .zoo ul.parameter-form {
	list-style: none;
	margin: 0;
	padding: 0;
}

#widgetkit .zoo li.parameter {
	margin-top: 15px;
	overflow: hidden;
}
#widgetkit .zoo li.parameter:first-child { margin-top: 0; }

#widgetkit .zoo li.parameter .label {
	margin: 0 0 8px 0;
	font-size: 12px;
	font-weight: bold;
}

#widgetkit .zoo textarea,
#widgetkit .zoo input[type=text],
#widgetkit .zoo select { width: 200px; }


/*
 * Joomla 3.0 specific
 */

/* Resets (Bootstrap) */
#widgetkit input[type="radio"],
#widgetkit input[type="checkbox"] { vertical-align: baseline; }

#widgetkit input[type=text],
#widgetkit input[type=password],
#widgetkit select {
	height: auto;
	line-height: inherit;
}

#widgetkit div.option textarea,
#widgetkit div.option input[type=text] { margin-bottom: 0; }