/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2015 Steven Palmer All rights reserved.
*/

/* Header icons 
------------------------------------------------------------------------------*/
.icon-48-cwt-visitors {background-image: url('../icons/icon-48-cwt-visitors.png');}
.icon-48-cwt-knownip {background-image: url('../icons/icon-48-cwt-knownip.png');}
.icon-48-cwt-cpanel {background-image: url('../icons/icon-48-cwt-cpanel.png');}
.icon-48-cwt-geo {background-image: url('../icons/icon-48-cwt-geo.png');}
.icon-32-cwt-extract {background-image: url('../icons/icon-32-cwt-extract.png');}