body {
	text-align: center;
	background: #BB88FF;
}

header {
	padding: 5px;
	color: #333399;
}

footer {
	font-weight: bold;
	font-size: 12px;
	padding: 10px;
}

footer>a:link,footer>a:visited {
	text-decoration: none;
	color: black;
}

footer>a:hover {
	text-decoration: underline;
}

a:link,a:visited {
	color: #FF6600;
	text-decoration: none;
	padding: 10px;
}

a:hover {
	font-weight: bold;
	text-decoration: none;
}

h3 {
	text-align: center;
	color: #FF6600;
	cursor: pointer;
}

#instruct {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	margin-top: 2em;
	width: 30em;
	padding: 8px;
	vertical-align: middle;
	font-size: 20px;
	text-align: left;
}

#list {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	margin-top: 2em;
	width: 15em;
	padding: 10px;
	vertical-align: middle;
	font-size: 2em;
}

#cntrl {
	padding: 5px;
	float: center;
}

#timer {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
	margin: 20px;
}

#home {
	padding: 10px;
}

li {
	list-style-type: none;
	position: relative;
	text-align: left;
}

button {
	padding: 5px;
	margin: 20px;
}

img {
	width: 585px;
	height: 545px;
}

.myBox {
	border: 2px solid #FF9933;
	border-radius: 5px;
	background: #FFFFCC;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myButton:active {
	position:relative;
	top:1px;
}
