#imContent {background: #FFF9E6 url('../images/sillas.png') repeat left top; background-attachment: scroll;}
h2#imPgTitle {float: left; margin-left: 6px; margin-right: 6px; width: 934px;}
#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 934px;}
#imCell_1 { display: block; position: relative; overflow: hidden; width: 708px; min-height: 554px; padding-top: 5px; padding-bottom: 5px; padding-left: 6px; padding-right: 5px;}
#imCellStyle_1 { position: relative; width: 658px; min-height: 461px; padding: 35px 25px 58px 25px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 5px; bottom: 5px; left: 6px; right: 5px; background-color: transparent;}
#imCellStyleGraphicsC_1 { position: absolute; top: 85px; bottom: 85px; left: 56px; right: 56px; background: transparent url('../images/19.png') repeat center center;}
#imCellStyleGraphicsB_1 { position: absolute; bottom: 0; left: 56px; right: 56px; height: 85px; background: transparent url('../images/19_b.png') repeat-x center bottom;}
#imCellStyleGraphicsBL_1 { position: absolute; bottom: 0; left: 0; width: 56px; height: 85px; background: transparent url('../images/19_bl.png') repeat left bottom;}
#imCellStyleGraphicsBR_1 { position: absolute; bottom: 0; right: 0; width: 56px; height: 85px; background: transparent url('../images/19_br.png') repeat right bottom;}
#imCellStyleGraphicsL_1 { position: absolute; top: 85px; bottom: 85px; left: 0; width: 56px; background: transparent url('../images/19_l.png') repeat-y left center;}
#imCellStyleGraphicsR_1 { position: absolute; top: 85px; bottom: 85px; right: 0; width: 56px; background: transparent url('../images/19_r.png') repeat-y right center;}
#imCellStyleGraphicsT_1 { position: absolute; top: 0; left: 56px; right: 56px; height: 85px; background: transparent url('../images/19_t.png') repeat-x center top;}
#imCellStyleGraphicsTL_1 { position: absolute; top: 0; left: 0; width: 56px; height: 85px; background: transparent url('../images/19_tl.png') repeat left top;}
#imCellStyleGraphicsTR_1 { position: absolute; top: 0; right: 0; width: 56px; height: 85px; background: transparent url('../images/19_tr.png') repeat right top;}
#imTextObject_1_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_1_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_1_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_1_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_1_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_1_tab0 p { margin: 0; padding: 0; }
#imTextObject_1_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_1_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 .imUl { text-decoration: underline; }
#imTextObject_1_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .cf1 { color: #000000; }
#imTextObject_1_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_1_tab0 .cf3 { color: #000000; }
#imTextObject_1_tab0 .cf4 { color: #0030BF; }
#imTextObject_1_tab0 .cf5 { color: #008080; }
#imTextObject_1_tab0 .cf6 { color: #000000; }
#imTextObject_1_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_1_tab0 .cb1 { background-color: #000000; }
#imTextObject_1_tab0 .cb2 { background-color: transparent; }
#imTextObject_1_tab0 .cb3 { background-color: #000000; }
#imTextObject_1_tab0 .cb4 { background-color: #0030BF; }
#imTextObject_1_tab0 .cb5 { background-color: #008080; }
#imTextObject_1_tab0 .cb6 { background-color: #000000; }
#imCell_2 { display: block; position: relative; overflow: hidden; width: 223px; min-height: 157px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_2 { position: relative; width: 215px; min-height: 149px; padding: 3px 3px 3px 3px; text-align: center; border-top: 1px solid #808080; border-bottom: 1px solid #808080; border-left: 1px solid #808080; border-right: 1px solid #808080; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: #EAFFFF; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
#imCellStyle_2 > a { display: inline-block; }
#imCell_3 { display: block; position: relative; overflow: hidden; width: 223px; min-height: 215px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_3 { position: relative; width: 215px; min-height: 207px; padding: 3px 3px 3px 3px; text-align: center; border-top: 1px solid #408000; border-bottom: 1px solid #408000; border-left: 1px solid #408000; border-right: 1px solid #408000; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
#imCellStyle_3 > a { display: inline-block; }
#imCell_4 { display: block; position: relative; overflow: hidden; width: 223px; min-height: 174px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_4 { position: relative; width: 215px; min-height: 166px; padding: 3px 3px 3px 3px; text-align: center; border-top: 1px solid #408000; border-bottom: 1px solid #408000; border-left: 1px solid #408000; border-right: 1px solid #408000; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; overflow: hidden; z-index: 2;}
#imCellStyleGraphics_4 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; }
#imCellStyle_4 > a { display: inline-block; }
