#imContent {background: #FFEAEA url('../images/cogidos-mano.png') repeat left top; background-attachment: scroll;}
h2#imPgTitle {float: left; margin-left: 6px; margin-right: 6px; width: 934px;}
#imBreadcrumb {float: left; margin-left: 6px; margin-right: 6px; width: 934px;}
#imCell_1 { display: block; position: relative; overflow: hidden; width: 938px; min-height: 578px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_1 { position: relative; width: 928px; min-height: 540px; padding: 33px 5px 5px 5px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleTitle_1 { position: absolute; padding: 5px 5px 5px 5px; top: 5px; left: 5px; right: 5px; text-align: left; font-family: Trebuchet MS; font-size: 9.75pt; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: transparent; z-index: 4;}
#imCellStyleGraphics_1 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent;}
#imCellStyleGraphicsC_1 { position: absolute; top: 54px; bottom: 54px; left: 80px; right: 80px; background: transparent url('../images/31.png') repeat center center;}
#imCellStyleGraphicsB_1 { position: absolute; bottom: 0; left: 80px; right: 80px; height: 54px; background: transparent url('../images/31_b.png') repeat-x center bottom;}
#imCellStyleGraphicsBL_1 { position: absolute; bottom: 0; left: 0; width: 80px; height: 54px; background: transparent url('../images/31_bl.png') repeat left bottom;}
#imCellStyleGraphicsBR_1 { position: absolute; bottom: 0; right: 0; width: 80px; height: 54px; background: transparent url('../images/31_br.png') repeat right bottom;}
#imCellStyleGraphicsL_1 { position: absolute; top: 54px; bottom: 54px; left: 0; width: 80px; background: transparent url('../images/31_l.png') repeat-y left center;}
#imCellStyleGraphicsR_1 { position: absolute; top: 54px; bottom: 54px; right: 0; width: 80px; background: transparent url('../images/31_r.png') repeat-y right center;}
#imCellStyleGraphicsT_1 { position: absolute; top: 0; left: 80px; right: 80px; height: 54px; background: transparent url('../images/31_t.png') repeat-x center top;}
#imCellStyleGraphicsTL_1 { position: absolute; top: 0; left: 0; width: 80px; height: 54px; background: transparent url('../images/31_tl.png') repeat left top;}
#imCellStyleGraphicsTR_1 { position: absolute; top: 0; right: 0; width: 80px; height: 54px; background: transparent url('../images/31_tr.png') repeat right top;}
#imTextObject_1_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_1_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_1_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_1_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_1_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_1_tab0 p { margin: 0; padding: 0; }
#imTextObject_1_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_1_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 .imUl { text-decoration: underline; }
#imTextObject_1_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .cf1 { color: #000000; }
#imTextObject_1_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_1_tab0 .cf3 { color: #000000; }
#imTextObject_1_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_1_tab0 .cb1 { background-color: #000000; }
#imTextObject_1_tab0 .cb2 { background-color: transparent; }
#imTextObject_1_tab0 .cb3 { background-color: #000000; }
