#imContent {background: #E6FFEC url('../images/arbol.png') repeat-y right top; background-attachment: scroll;}
#imCell_1 { display: block; position: relative; overflow: hidden; width: 836px; min-height: 1049px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_1 { position: relative; width: 774px; min-height: 920px; padding: 64px 33px 65px 29px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleTitle_1 { position: absolute; padding: 5px 5px 5px 5px; top: 15px; left: 30px; right: 15px; text-align: left; font-family: Trebuchet MS; font-size: 14pt; font-style: normal; font-weight: bold; color: #FFFFFF; background-color: transparent; z-index: 4;}
#imCellStyleGraphics_1 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: transparent;}
#imCellStyleGraphicsC_1 { position: absolute; top: 100px; bottom: 100px; left: 130px; right: 130px; background: transparent url('../images/20.png') repeat center center;}
#imCellStyleGraphicsB_1 { position: absolute; bottom: 0; left: 130px; right: 130px; height: 100px; background: transparent url('../images/20_b.png') repeat-x center bottom;}
#imCellStyleGraphicsBL_1 { position: absolute; bottom: 0; left: 0; width: 130px; height: 100px; background: transparent url('../images/20_bl.png') repeat left bottom;}
#imCellStyleGraphicsBR_1 { position: absolute; bottom: 0; right: 0; width: 130px; height: 100px; background: transparent url('../images/20_br.png') repeat right bottom;}
#imCellStyleGraphicsL_1 { position: absolute; top: 100px; bottom: 100px; left: 0; width: 130px; background: transparent url('../images/20_l.png') repeat-y left center;}
#imCellStyleGraphicsR_1 { position: absolute; top: 100px; bottom: 100px; right: 0; width: 130px; background: transparent url('../images/20_r.png') repeat-y right center;}
#imCellStyleGraphicsT_1 { position: absolute; top: 0; left: 130px; right: 130px; height: 100px; background: transparent url('../images/20_t.png') repeat-x center top;}
#imCellStyleGraphicsTL_1 { position: absolute; top: 0; left: 0; width: 130px; height: 100px; background: transparent url('../images/20_tl.png') repeat left top;}
#imCellStyleGraphicsTR_1 { position: absolute; top: 0; right: 0; width: 130px; height: 100px; background: transparent url('../images/20_tr.png') repeat right top;}
#imTextObject_1_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_1_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_1_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_1_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_1_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_1_tab0 p { margin: 0; padding: 0; }
#imTextObject_1_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_1_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_1_tab0 .imUl { text-decoration: underline; }
#imTextObject_1_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_1_tab0 .cf1 { color: #000000; }
#imTextObject_1_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_1_tab0 .cf3 { color: #000000; }
#imTextObject_1_tab0 .cf4 { color: #008020; }
#imTextObject_1_tab0 .cf5 { color: #C00000; }
#imTextObject_1_tab0 .cf6 { color: #000000; }
#imTextObject_1_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_1_tab0 .cb1 { background-color: #000000; }
#imTextObject_1_tab0 .cb2 { background-color: transparent; }
#imTextObject_1_tab0 .cb3 { background-color: #000000; }
#imTextObject_1_tab0 .cb4 { background-color: #008020; }
#imTextObject_1_tab0 .cb5 { background-color: #C00000; }
#imTextObject_1_tab0 .cb6 { background-color: #000000; }
