h2#imPgTitle {float: left; margin-left: 6px; margin-right: 6px; width: 1086px;}
#imCell_1 { display: block; position: relative; overflow: hidden; width: 1090px; min-height: 620px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;}
#imCellStyle_1 { position: relative; width: 1036px; min-height: 566px; padding: 27px 27px 27px 27px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 5px; bottom: 5px; left: 5px; right: 5px; background-color: #DFFFBF;}
#imCellStyleGraphicsC_1 { position: absolute; top: 65px; bottom: 65px; left: 111px; right: 111px; background: #DFFFBF url('../images/13.png') repeat center center;}
#imCellStyleGraphicsB_1 { position: absolute; bottom: 0; left: 111px; right: 111px; height: 65px; background: #DFFFBF url('../images/13_b.png') repeat-x center bottom;}
#imCellStyleGraphicsBL_1 { position: absolute; bottom: 0; left: 0; width: 111px; height: 65px; background: #DFFFBF url('../images/13_bl.png') repeat left bottom;}
#imCellStyleGraphicsBR_1 { position: absolute; bottom: 0; right: 0; width: 111px; height: 65px; background: #DFFFBF url('../images/13_br.png') repeat right bottom;}
#imCellStyleGraphicsL_1 { position: absolute; top: 65px; bottom: 65px; left: 0; width: 111px; background: #DFFFBF url('../images/13_l.png') repeat-y left center;}
#imCellStyleGraphicsR_1 { position: absolute; top: 65px; bottom: 65px; right: 0; width: 111px; background: #DFFFBF url('../images/13_r.png') repeat-y right center;}
#imCellStyleGraphicsT_1 { position: absolute; top: 0; left: 111px; right: 111px; height: 65px; background: #DFFFBF url('../images/13_t.png') repeat-x center top;}
#imCellStyleGraphicsTL_1 { position: absolute; top: 0; left: 0; width: 111px; height: 65px; background: #DFFFBF url('../images/13_tl.png') repeat left top;}
#imCellStyleGraphicsTR_1 { position: absolute; top: 0; right: 0; width: 111px; height: 65px; background: #DFFFBF url('../images/13_tr.png') repeat right top;}
