/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2015 Steven Palmer All rights reserved.
 */

.cwt-stats-lt-clocks, .cwt-stats-ly-clocks, 
.cwt-stats-lw-clocks, .cwt-stats-lm-clocks, 
.cwt-stats-la-clocks {
    background:url(../icons/clocks.png) no-repeat;
}

.cwt-stats-lt-clocks, .cwt-stats-ly-clocks,
.cwt-stats-lw-clocks, .cwt-stats-lm-clocks, 
.cwt-stats-la-clocks {
    padding-left:20px;
    float:left;
}

.cwt-stats-lt-clocks { background-position: 0px 2px; }
.cwt-stats-ly-clocks { background-position: 0px -64px; }
.cwt-stats-lw-clocks { background-position: 0px -130px; }
.cwt-stats-lm-clocks { background-position: 0px -196px; }
.cwt-stats-la-clocks { background-position: 0px -262px; }
