/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * Widgetkit Twitter Style Sheet
 */

/* General
----------------------------------------------------------------------------------------------------*/

.wk-twitter .image {
	display: block;
	padding: 3px;
	border: 1px solid #ddd;
	float: left;
}

.wk-twitter .image img { display: block; }


/* List Style
----------------------------------------------------------------------------------------------------*/

.wk-twitter-list article {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #ddd;
	overflow: hidden;
}

.wk-twitter-list article:first-child {
	margin: 0;
	padding: 0;
	border: none;
}

.wk-twitter-list .image { margin: 3px 10px 0 0; }

.wk-twitter-list p { margin: 0; }

.wk-twitter-list .meta {
	font-size: 11px;
	font-style: italic;
}


/* Single Style
----------------------------------------------------------------------------------------------------*/

.wk-twitter-single.image {
	min-height: 43px;
	padding-left: 70px;
	background: url(single/images/bird.png) 0 3px no-repeat;
}

.wk-twitter-single p {
	margin: 0;
	font-style: italic;
}

.wk-twitter-single .content {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	line-height: 30px;
}

.wk-twitter-single .meta { font-size: 11px; }

/* Only Phones */
@media (max-width: 767px) {

	.wk-twitter-single.image {
		min-height: auto;
		padding-left: 0;
		background: none;
	}

	.wk-twitter-single .content {
		font-size: 20px;
		line-height: 26px;
	}

}


/* Bubbles Style
----------------------------------------------------------------------------------------------------*/

.wk-twitter-bubbles { margin: 0 -5px; }

.wk-twitter-bubbles > article { float: left; }

.wk-twitter-bubbles .content {
	position: relative;
	margin: 0 5px;
	padding: 10px;
	border: 1px solid #ccc;
	background: #FFF;
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.wk-twitter-bubbles .content:after {
	content:"";
	position: absolute;
	left: 18px;
	bottom: -11px;
	width: 16px;
	height: 11px;
	background: url(bubbles/images/arrow.png) 0 0 no-repeat;
}

.wk-twitter-bubbles .meta {
	margin: 10px 5px 0 5px;
	overflow: hidden;
}

.wk-twitter-bubbles .image {
	display: block;
	margin-right: 10px;
	float: left;
}

.wk-twitter-bubbles .author,
.wk-twitter-bubbles time { display: block; }

.wk-twitter-bubbles .author { margin-top: 5px; }
.wk-twitter-bubbles time {
	margin-top: -5px;
	font-size: 11px;
}

/* Only Tablets (Portrait) and Phones (Landscape) */
@media (min-width: 480px) and (max-width: 959px) {

	.wk-twitter-bubbles > article { margin-top: 20px; }
	.wk-twitter-bubbles > article:nth-child(-n+2) { margin-top: 0; }

}

/* Only Phones (Portrait) */
@media (max-width: 479px) {

	.wk-twitter-bubbles > article { margin-top: 20px; }
	.wk-twitter-bubbles > article:first-child { margin-top: 0; }

}