@CHARSET "UTF-8";
/*  Background */

#wpcontent {
    background: white;
}

/**********************************************************************/
/*  Page Title */

/** vendorname **/
.vendorname {
    float: left;
    margin-top: 38px;
    min-width: 90px;
    font-size: 40px;
    height: 90px;
    font-weight: bold;
    color: #3e4855;
}

/** version icon **/
.version-normal {
    padding: 07px;
    margin-top: 70px;
    margin-left: 310px;
    background-color: #89bb30;
}

.version-update {
    background-color: #ff7a00;
    margin-top: 74px;
    color: #ffffff;
    float: left;
    font-size: 10px;
    margin-left: 40px;
    margin-bottom: 5px;
    padding: 0 6px;
    border: 0 solid #ff7a00;
    border-radius: 2px;
}
.version-update:hover,
.version-update:focus,
.version-update:active,
.version-update.active,
.open > .dropdown-toggle.version-update {
    color: #ffffff;
    background-color: #a52a2a;
    border-color: #a52a2a;
}

/** vendor logo **/
.logo {
    height: 75px !important;
    margin-right: -150px !important;
    margin-top: 18px !important;
    width: 250px !important;
    float: left !important;
    max-width: 250px !important;
}

/** navbar top **/
.navbar-top {
    background: #090B04 none repeat scroll 0 0;
}    
/**********************************************************************/

/*  Navigation Bar */
.navbar-default .navbar-nav > li > a {
    color: #E1F7BA !important;
}

.navbar.navbar-default {
    background-color: white;
    margin-bottom: -1px;
}
.bs-component .navbar.navbar-default {
    background-color: #89bb30;
    margin-bottom: -9px;
    margin-top: 10px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff !important;
    background-color: #89bb30 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #89bb30;
    color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #89bb30;
    color: white;
    opacity: 1;
    font-weight: bold;
}

.nav li.active {
    color: #89bb30;
    border-bottom: 0 solid #89bb30;
}

.nav li {
    color: #89bb30;
    border-bottom: 0px solid #6e6e6e;
    border-right: 0 solid #fff;
    margin-bottom: 0 ;
    margin-right: 5px;
}


.navbar-default {
    border: 0px solid rgba(158, 173, 195, 0.16);
    margin-bottom: 0px;
}

.userMenu li a {
    color: #fff;
}

.panel, .dataTables_wrapper{ 
	background: none; 
}

.panel-teal > .panel-heading {
	background-color : transparent;
    border-color: #000000;
}
.panel-teal > .panel-heading h3 {
    color: #587b23 !important;
}

.table > thead > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tfoot > tr > td {
    min-width: 90px;
}

.panel-primary > .panel-heading {
    background-color: #89bb30;
}
.panel-dark > .panel-heading {
    background-color: #7ea426;
}
.panel-body th,
.panel-heading h3 {
    color: #fff;
}

.panel-primary > .panel-body {
    border: 1px solid rgba(158, 173, 195, 0.16);
}
.panel-dark > .panel-body {
    border: 1px solid #fff;
}
.tickLabel {
    color: #000000;
}


.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #000000;
}

.bs-callout-info {
    background-color: transparent;
    border-bottom: 0px solid #000000;
    border-left: 0px solid #fefefe;
}

.bs-callout-info h1, .bs-callout-info h2, .bs-callout-info h3, .bs-callout-info h4, .bs-callout-info h5, .bs-callout-info h6 {
    color: #000000;
}

.panel.plain.panel-primary .panel-heading {
    background-color: transparent;
    border-bottom: 1px solid rgba(158, 173, 195, 0.16);
    color: #000000;
}

#oseappcontainer .container {
	border: 1px solid rgba(158, 173, 195, 0.16);
}

.panel.plain.panel-dark .panel-heading {
    background-color: transparent;
    border-bottom: 1px solid #000000;
    color: #000000;
}
.panel-heading,
.panel-body {
	margin: 0px 15px !important;
}
.panel-heading.white-bg {
	background-color: transparent !important;
}

.alert-info {
    background-color: #cecece;
    opacity: 0.6;
    border-color: #cecece;
    color: #222;
}

.alert-info.fade.in {
	opacity: 0.6;
}



.product-list {
	background-color: #dcdcdc;
    border-color: #000000;
    opacity: 0.7;
    margin: 5px 0px !important;
}
.product-title {
	margin: 20px 3%;
    border: 5px solid #000000;
	padding: 20px;
	width: 10%;
	float: left; 
}

.sortable-layout,.panel-body,.dataTables_wrapper {
	padding-left: 0px;
	padding-right: 0px;
} 

.form-horizontal.stripped .form-group:nth-child(2n), .form-inline.stripped .form-group:nth-child(2n) {
	background: none repeat scroll 0 0 transparent;
}
.form-horizontal.group-border .form-group:first-child, .form-inline.group-border .form-group:first-child {
    border-top: 0px solid #000000;
}
.form-horizontal.group-border .form-group, .form-inline.group-border .form-group {
    border-bottom: 0px solid #000000;
}
.form-group label {
	padding-top: 0px;
    color: #000000;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #89bb30;
	opacity: 1;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #fff;
	font-weight: bold;
}
.nav-tabs > li > a {
    color: #000000;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {

    opacity: 0.75;
}
.paginate_button.disabled:hover, .paginate_button.disabled:active {
	background-color: #fff !important;
	opacity: 0.8;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background-color: #666;
	border: 1px solid #777;
	opacity: 0.8;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none repeat scroll 0 0 #666 !important;
    border-color: #777 !important;
    color: #000000;
    opacity: 0.8;
}

.dataTables_paginate a.paginate_disabled_previous, .dataTables_paginate a.paginate_disabled_next, .dataTables_paginate a.paginate_button, .paginate_enabled_next, .paginate_active, .paginate_enabled_previous {
    opacity: 0.8;
    background: #89bb30;

}

.dataTables_length {
    padding: 10px 5px;
}

.dataTables_filter {
    padding: 10px 5px 11px;
}
#oseappcontainer .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
}
.list-group-item {
	background-color: transparent;
    border-bottom: 0px solid #000000;
}

.list-group-item {
    color: #000000;
}

/**********************************************************************/
/*  DataTable  */
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    background-color: #89bb30;
    border-color: initial;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #89bb30;
    border: none;
}

table.dataTable {
    background-color: #89bb30;
}

/**********************************************************************/
/*  Modal  */
.modal .modal-content .modal-header {
    background: #fff;
}

/**********************************************************************/
/*  Button  */
.btn {
    padding: 2px 12px;
}

.btn-primary,
.btn-success,
.btn-danger,
.btn-yellow,
.btn-default,
.btn-primary.btn-alt {
    background-color: #89bb30 !important;
    border: 0 solid #fff !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    color: white !important;
    background-image: none !important;
}

.btn-primary:hover,
.btn-success:hover,
.btn-danger:hover,
.btn-yellow:hover,
.btn-default:hover,
.btn-primary.btn-alt:hover {
    color: white !important;
    background-color: #89bb30 !important;
    border-color: initial !important;
    box-shadow: none !important;
    background-image: none !important;
}

.btn-primary:visited,
.btn-success:visited,
.btn-danger:visited,
.btn-yellow:visited,
.btn-default:visited,
.btn-primary.btn-alt:visited {
    color: white !important;
    background-color: #89bb30 !important;
    border-color: initial !important;
    box-shadow: none !important;
    border-radius: 7px !important;
    background-image: none !important;
}

.btn-primary:focus,
.btn-success:focus,
.btn-danger:focus,
.btn-yellow:focus,
.btn-default:focus,
.btn-primary.btn-alt:focus {
    color: white !important; 
    background-color: #89bb30 !important;
    border-color: initial !important;
    box-shadow: none !important;
    border-radius: 7px !important;
    background-image: none !important;
}

/**********************************************************************/
/*  Pie Charts  */
.pie-charts div.label {
    color: #000000 !important;
}

.pie-charts .easyPieChart {
    color: #89bb30 !important;
}

.everythingOnOneLine .col-lg-12 {
	padding: 0px;
	
}
.everythingOnOneLine {
	background-image: none !important;
	height: 210px !important;
}
.header-wrapper {
    color: #89bb30;
}
.logo > img {
	width: 90px !important; 
	margin-left: 5px !important;
    margin-top: 0 !important;
}
.version-updated, .version-outdated {
	color: #666;
	margin-left: 50px !important;
    margin-top: -10px !important;
}
.bs-component .navbar.navbar-default {
    background-color: #89bb30;
    margin-bottom: -9px;
    margin-left: 0 !important;
    margin-top: 0px !important;
}
.vendorname {
	margin-top: 26px !important;
}
#versions {
    float: left;
    margin-top: 0px;
    padding: 75px 20px 0;
}
.version-update { 
	 margin-top: 0px;
}
.centrora-affiliates .btn {
	border: 0px solid #89bb30;
    border-radius: 2px;
    font-size: 10px;
    padding: 2px 6px;
}
.centrora-affiliates {
	float: left;
	margin-top: 73px;
}
 .centrora-news {
	float: left;
	margin-top: 75px;
	padding: 1px 6px;
}
.centrora-news .btn {
	border: 1px solid #89bb30;
    border-radius: 2px;
    font-size: 10px;
    padding: 2px 6px;
}
.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.modal-footer {
	background-color: #fff;
}
#passcodeForm {
    margin: 10px auto;
    width: 800px;
}
#passcodeForm input {
	width: 100%;
}
.popover-title {
	background-color: #89bb30;
}
.login-form .panel-body, #new-account-form .panel-body {
    border: 1px solid rgba(158, 173, 195, 0.16) !important;
    min-height: 200px !important;
}
/*#wpcontent {*/
/*background: url(imgs/background.jpg) repeat-y 0px 0px white !important;*/
/*}*/