/* ======================================================
# Web357 Framework - Joomla! System Plugin v1.3.4
# -------------------------------------------------------
# For Joomla! 3.0
# Author: Yiannis Christodoulou (yiannis@web357.eu)
# Copyright (©) 2009-2015 Web357. All rights reserved.
# License: GNU/GPLv3, http://www.gnu.org/licenses/gpl-3.0.html
# Website: https://www.web357.eu/
# Support: support@web357.eu
# Last modified: 09 Dec 2015, 19:28:46
========================================================= */

/************* Extension's Information *************/
.w357 .btn {
	margin-bottom: 5px;
}
.w357.com_vmsales .span9,
.w357.com_monthlyarchive .span9 {	
	margin-left: 0px;
}
.w357_ext_uptodate {
	color: #34495e;
	font-weight: 700;
	font-size: 14px;
	border: 2px solid #e1edea;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background: #f1f9f7 url("../images/tick.png") no-repeat 15px 18px;
	padding: 15px 15px 15px 50px;
	line-height: 22px;
	width: 565px;
	clear: both;
	text-align: left;
}
.w357_ext_uptodate.com_vmsales,
.w357_ext_uptodate.com_monthlyarchive {
	width: auto !important;
}
	
.w357_ext_uptodate_j25 {
	margin: 15px 0 50px 0;
}
.w357_ext_uptodate_j3x {
}

.w357_ext_notuptodate  {
	color: #e74c3c;
	font-weight: 700;
	font-size: 14px;
	margin: 15px 0 50px 0;
	border: 2px solid #e1edea;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background: #f1f9f7 url("../images/alert.png") no-repeat 15px 18px;
	padding: 15px 15px 15px 50px;
	line-height: 22px;
	text-align: left;
}
.w357_ext_notuptodate.com_vmsales,
.w357_ext_notuptodate.com_monthlyarchive {
	width: auto !important;
}
	
/************* Params *************/
.free,
.pro {
	cursor: pointer;
}
.w357frm_param_header label {
	font-weight: 700;
	font-size: 17px;
	color: #fff;
	margin: 10px 0;
	padding: 15px 20px !important;
	background: #0B55C4;
	clear: both;
	display: block;
	width: 600px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.w357frm_param_header.com_vmsales label,
.w357frm_param_header.com_monthlyarchive label {
	width: auto !important;
}

/* for j25x */
.w357frm_param_header.vj25x {
	overflow: hidden;
	clear: both;
}

/************* Item's Description *************/
.w357_item_full_desc {
	margin: 30px 0 0 10px;
}

/************* Responsive *************/
@media(max-width:1100px){
	.w357_ext_uptodate,
	.w357frm_param_header label {
		width: auto !important;
	}
}

/************* Social Icons *************/
.w357_social {
}
.w357_social_icon {
	margin-right: 20px;
}