/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2015 Steven Palmer All rights reserved.
 */

.cwt-stats-lt-graphs, .cwt-stats-ly-graphs, 
.cwt-stats-lw-graphs, .cwt-stats-lm-graphs, 
.cwt-stats-la-graphs {
    background:url(../icons/graphs.png) no-repeat;
}

.cwt-stats-lt-graphs, .cwt-stats-ly-graphs,
.cwt-stats-lw-graphs, .cwt-stats-lm-graphs, 
.cwt-stats-la-graphs {
    padding-left:20px;
    float:left;
}

.cwt-stats-lt-graphs { background-position: 0px 0px; }
.cwt-stats-ly-graphs { background-position: 0px -66px; }
.cwt-stats-lw-graphs { background-position: 0px -132px; }
.cwt-stats-lm-graphs { background-position: 0px -198px; }
.cwt-stats-la-graphs { background-position: 0px -264px; }
