/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2015 Steven Palmer All rights reserved.
 */

.cwt-stats-lt-traffic-lights, .cwt-stats-ly-traffic-lights, 
.cwt-stats-lw-traffic-lights, .cwt-stats-lm-traffic-lights, 
.cwt-stats-la-traffic-lights {
    background:url(../icons/trafficlights.png) no-repeat 0px 12px;
}

.cwt-stats-lt-traffic-lights, .cwt-stats-ly-traffic-lights,
.cwt-stats-lw-traffic-lights, .cwt-stats-lm-traffic-lights, 
.cwt-stats-la-traffic-lights {
    padding-left:20px;
    float:left;
}

.cwt-stats-lt-traffic-lights { background-position: 0px 2px; }
.cwt-stats-ly-traffic-lights { background-position: 0px -64px; }
.cwt-stats-lw-traffic-lights { background-position: 0px -130px; }
.cwt-stats-lm-traffic-lights { background-position: 0px -196px; }
.cwt-stats-la-traffic-lights { background-position: 0px -262px; }
