/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2015 Steven Palmer All rights reserved.
 */

.cwt-stats-lt-users, .cwt-stats-ly-users, 
.cwt-stats-lw-users, .cwt-stats-lm-users, 
.cwt-stats-la-users{
    background:url(../icons/users.png) no-repeat;
}

.cwt-stats-lt-users, .cwt-stats-ly-users,
.cwt-stats-lw-users, .cwt-stats-lm-users, 
.cwt-stats-la-users {
    padding-left:22px;
    float:left;
}

.cwt-stats-lt-users{ background-position: 0px 0px; }
.cwt-stats-ly-users { background-position: 0px -66px; }
.cwt-stats-lw-users { background-position: 0px -132px; }
.cwt-stats-lm-users { background-position: 0px -198px; }
.cwt-stats-la-users { background-position: 0px -264px; }
