/* begin Page */
/* Created by Artisteer v3.1.0.48375 */

/* Compatibility rule for default TinyMCE skin (for td element): */
td {
   color: inherit;
   font-family: inherit;
   font-size: inherit;
   margin: inherit;
   padding: 2px;
   border: solid 1px #9A9A9A;
   vertical-align: top;
   text-align: left;
}

body, table
{
   font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

body, table
{
   text-align: left;
}

body 
{
   direction: ltr;
   color: #2A2A2A;
   background: #FAFBF0;
}

li,
table,
a,
a:link,
a:visited,
a:hover
{
   font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
   text-align: justify;
}

p
{
   margin: 12px 5px;
}

h1,
h1 a,
h1 a:link,
h1 a:visited,
h1 a:hover,
h2,
h2 a,
h2 a:link,
h2 a:visited,
h2 a:hover,
h3,
h3 a,
h3 a:link,
h3 a:visited,
h3 a:hover,
h4,
h4 a,
h4 a:link,
h4 a:visited,
h4 a:hover,
h5,
h5 a,
h5 a:link,
h5 a:visited,
h5 a:hover,
h6,
h6 a,
h6 a:link,
h6 a:visited,
h6 a:hover
{
   font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 31px;
   text-align: left;
   text-decoration: none;
   text-transform: uppercase;
}

a
{
   text-decoration: underline;
   letter-spacing: 1px;
   color: #8E9326;
}

a:link
{
   text-decoration: underline;
   letter-spacing: 1px;
   color: #8E9326;
}

a:visited
{
   color: #5D5D5D;
}

a:hover
{
   text-decoration: none;
   color: #2F310D;
}

h1
{
   color: #5D5D5D;
   margin: 19px 0;
}

h2
{
   color: #5D5D5D;
   margin: 19px 0;
   font-weight: normal;
   font-size: 26px;
}

h2 a,
h2 a:link,
h2 a:hover,
h2 a:visited
{
   font-weight: normal;
   font-size: 26px;
}

h3
{
   color: #7B7B7B;
   margin: 22px 0;
   font-size: 20px;
}

h3 a,
h3 a:link,
h3 a:hover,
h3 a:visited
{
   font-size: 20px;
}

h4
{
   color: #2A2A2A;
   margin: 22px 0;
   font-size: 18px;
}

h4 a,
h4 a:link,
h4 a:hover,
h4 a:visited
{
   font-size: 18px;
}

h5
{
   color: #2A2A2A;
   margin: 27px 0;
   font-size: 18px;
}

h5 a,
h5 a:link,
h5 a:hover,
h5 a:visited
{
   font-size: 18px;
}

h6
{
   color: #3E3E3E;
   margin: 32px 0;
   font-size: 15px;
}

h6 a,
h6 a:link,
h6 a:hover,
h6 a:visited
{
   font-size: 15px;
}

ul
{
   list-style-type: none;
   margin: 1em 0 1em 2em;
   padding: 0;
}

ol
{
   list-style-position: inside;
   margin: 1em 0 1em 2em;
   padding: 0;
}

/* end Page */

/* begin Box, Post */
/* set background fot correct editing in administrator: */

a img
{
   border: 0;
}

img
{
   border-color: #BCBCBC;
   border-style: solid;
   border-width: 0;
   margin: 10px 10px 10px 10px;
}

table
{
   border-collapse: collapse;
   margin: 1px;
}

th{
   border: solid 1px #9A9A9A;
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}
/* end Box, Post */

/* begin PostBullets */

li
{
   font-size: 13px;
   text-align: left;
   color: #414141;
   margin: 0 0 0 12px;
   padding: 0 0 0 11px;
}

li ol, .art-post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

ol>li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

ul>li
{
   background-image: url('../images/postbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
   padding-left: 11px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a,
blockquote a:link,
blockquote a:visited,
blockquote a:hover
{
   color: #323232;
   font-style: italic;
   font-weight: normal;
   text-align: left;
}

blockquote p
{
   margin: 0;
   margin: 17px 0 17px 17px;
}

blockquote
{
   margin: 10px;
   padding: 2px;
   background-color: #EBEEBD;
   margin-left: 50px;
   padding-left: 26px;
   background-image: url('../images/postquote.png');
   background-position: left top;
   background-repeat: no-repeat;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

/* end PostQuote */
#apartado1{
   border:3px solid brown;
   border-radius:22px;
   background-color:#e3d193;
   padding:9px;
}
#apartado2{
   border:3px solid brown;
   border-radius:22px;
   background-color:#ffffff;
   padding:9px;
}
