/* ======================================================
# Web357 Framework - Joomla! System Plugin v1.3.4
# -------------------------------------------------------
# For Joomla! 3.0
# Author: Yiannis Christodoulou (yiannis@web357.eu)
# Copyright (©) 2009-2015 Web357. All rights reserved.
# License: GNU/GPLv3, http://www.gnu.org/licenses/gpl-3.0.html
# Website: https://www.web357.eu/
# Support: support@web357.eu
# Last modified: 09 Dec 2015, 19:28:46
========================================================= */

.icon-monthlyarchive:before {
	content: "\e242";
}
.icon-vmsales:before {
	content: "\e242";
}