.published {
	background: url("../images/accept.png") no-repeat scroll 0 0 transparent;
	height: 15px;
	width: 15px;
}

.unpublished {
	background: url("../images/delete.png") no-repeat scroll 0 0 transparent;
	height: 15px;
	width: 15px;
}

.button_bar {
	text-align: right;
}

.button_bar button {
	padding: 0px 8px 0px 8px;
	margin-right: 5px;
	border: 0px solid #2DADE8;
	border-radius: 3px 3px 3px 3px;
	color: white;
	text-decoration: none;
	text-shadow: 0 0 1px #999;
	background: -moz-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -o-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -ms-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -webkit-linear-gradient(top, #DC1B21 0%, #BE161A 100%)
		repeat scroll 0 0 #BE161A;
	background: linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat scroll
		0 0 #BE161A;
	background-color: #BE161A;
}

.adminlist {
	border-right: 1px solid #D3D3D3;
	border: 1px solid #D3D3D3;
	font-fammily: Verdana, Arial, sans-serif;
}

.adminlist a.fmitems:hover {
	background: none repeat scroll 0 0 #3875D7;
	border-color: #3875D7;
	color: #FFFFFF;
	padding: 4px 4px 4px 4px;
	text-decoration: none;
	border-radius: 4px;
}

.adminlist a:hover {
	text-decoration: none;
}

.toolbar {
	background: url("../images/ui-bg_highlight-soft_75_cccccc_1x100.png")
		repeat-x scroll 50% 50% #E6E6E6;
	border: 1px solid #D3D3D3;
	color: #555555;
	font-weight: normal;
	padding: 4px;
	margin-right: 4px;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-fammily: Verdana, Arial, sans-serif;
}

.toolbar td .toolbaricon {
	background: url("../images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x
		scroll 50% 50% #E6E6E6;
	border: 1px solid #D3D3D3;
	color: #555555;
	font-weight: normal;
	padding: 4px;
	border-radius: 4px;
	margin: 0px 5px;
}

#createitemtable button {
	border: 1px solid #2DADE8;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left: 2px;
	padding: 0 6px;
	text-decoration: none;
	text-shadow: 0 0 1px #999999;
	font-size: 10px;
	height: 18px;
	background: -moz-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -o-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -ms-linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat
		scroll 0 0 #BE161A;
	background: -webkit-linear-gradient(top, #DC1B21 0%, #BE161A 100%)
		repeat scroll 0 0 #BE161A;
	background: linear-gradient(top, #DC1B21 0%, #BE161A 100%) repeat scroll
		0 0 #BE161A;
	background-color: #BE161A;
}

#createitemtable input {
	height: 16px;
}

#createitemtable select {
	height: 18px;
}