/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * Widgetkit Spotlight Style Sheet
 */

/* General
----------------------------------------------------------------------------------------------------*/

.spotlight {
	display: inline-block;
	max-width: 100%;
}

.spotlight .overlay { visibility: hidden; }


/* Default Style
----------------------------------------------------------------------------------------------------*/

.spotlight .overlay-default { background: rgba(0,0,0,0.5) url(../images/magnifier.png) 50% 50% no-repeat; }


/* Overlay Style
----------------------------------------------------------------------------------------------------*/

/* Hidden by default */
[data-spotlight] .overlay { display: none; }

.spotlight .overlay { background: rgba(0,0,0,0.5); }

.spotlight .overlay,
.spotlight .overlay a { color: #fff; }
.spotlight .overlay a { text-decoration: underline; }

.spotlight .overlay > div { padding: 10px; }
.spotlight .overlay.remove-padding > div { padding: 0; }
.spotlight .overlay > div > *:first-child { margin-top: 0; }
.spotlight .overlay > div > *:last-child { margin-bottom: 0; }
