html {position: relative; margin: 0; padding: 0; background-image: url('bg.jpg'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: #E0E0E0}
body {margin: 0; padding: 0; text-align: left;}
#imPage {padding-top: 36px; margin: 2px auto 2px auto; width: 1111px; position: relative;}
#imHeaderBg {position: absolute; left: 0; top: 0; height: 165px; width: 100%; background-color: transparent}
#imHeader {height: 100px; background-color: transparent; background-image: url('top.png'); background-position: top left; background-repeat: no-repeat;}
#imMnMn {position: absolute; top: 0; left: 0;  height: 26px; width: 1101px; padding: 5px 5px 5px 5px; background-color: #7BB5EF}
#imMnMn > ul { text-align: left; }
#imMnMn li {display: inline}
#imContent {min-height: 380px; position: relative; width: 1109px; padding: 5px 1px 5px 1px; }
#imContentGraphics {min-height: 380px; position: absolute; top: 136px; bottom: 75px; left: 0; width: 1111px; background-color: #FFFFFF}
#imFooterBg {position: absolute; left: 0; bottom: 0; height: 90px; width: 100%; background-color: transparent}
#imFooter {position: relative; margin: 0 auto; height: 75px; width: 1111px; background-color: #BFCFFF;}
