#adminForm {
	margin: 0 0 0 0 !important;
}

/* Columns*/
.ph-image {
	text-align:center;
	width: 10%;
}
.ph-title {
	width: 60%;
}

.ph-title-stat {
	width: 10%;
}
.ph-filename-stat {
	width: 50%;
}

.ph-map {
	width: 20%;
}

.ph-title-short {
	width: 30%;
}
.ph-filename-long {
	width: 50%;
}
.ph-count {
	width: 5%;
}

.ph-page {
	width: 5%;
}

.ph-functions,
.ph-id,
.ph-check,
.ph-ordering {
	width: 1%;
}

.ph-plugincode-td {
color: #999;
}

.ph-right {
	text-align: right !important;
}
.ph-center {
	text-align: center !important;
}

.ph-uploaduser {
	width: 7%;
	white-space: nowrap;
}
.ph-owner,
.ph-rating,
.ph-hits,
.ph-language,
.ph-published,
.ph-approved {
	width: 5%;
}
.ph-user,
.ph-parentcattitle {
	width: 15%;
}
.ph-filename,
.ph-access {
	width: 10%;
}


.ph-multiple-table tr td.ph-img-table {
	text-align: center;
	padding-top: 4px;
}
.ph-icon {
	margin: 0;
	padding: 5px;
	float: left;
	margin: 0 auto;
	text-align: center;
}
.ph-icon-inside.thumbnail {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 0px;  
    border-radius: 0px;
	background: #fdfdfd;
}
.ph-icon-inside.thumbnail img {
	margin-top: 10px;
	margin-bottom: -12px;
}
.ph-icon-inside.thumbnail span {
}

.ph-head-form-small,
.ph-head-form {
	font-weight: bold;
}
.ph-head-form {
		margin-bottom: 10px;
}
.ph-in {
	padding: 5px;
}

.ph-w80 {
	width: 80%;
}
.dl-horizontal.ph-input dt {
	float: left;
	clear: left;
	margin-right: 20px;
	text-align: left;
	width: auto;
}
.dl-horizontal.ph-input dd{
}

.ph-cpanel-left {
	float: left;
	width: 50%;
}
.ph-cpanel-right {
	float: right;
	width: 50%;
}

#configTabs li a img {
	margin-top: -3px;
}

.ph-head-form-small,
.ph-head-form {
	font-weight: bold;
}
.ph-head-form {
		margin-bottom: 10px;
}
.ph-in {
	padding: 5px;
}

.ph-w80 {
	width: 80%;
}
.dl-horizontal.ph-input dt {
	float: left;
	clear: left;
	margin-right: 20px;
	text-align: left;
	width: auto;
}
.dl-horizontal.ph-input dd{
}




div.icon-48-write {
	background: url('../../images/icon-48-pe-write.png') no-repeat left;
}
div.icon-48-info {
	background: url('../../images/icon-48-pe-info.png') no-repeat left;
}
div.icon-48-pe {
	background: url('../../images/icon-48-pe-pe.png') no-repeat left;
}

.phocabutton {
	border: 1px solid #777;
	padding: 5px;
	margin: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;"';
}	







#ph-op-bg{
	display:none;
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
	background: #fff;
	opacity: 0.8;
}
#ph-op-bg-msg {
	display:none;
	position: fixed;
	top:40%;
	left:0;
	right:0;
	width:70%;
	background:#fff;
	border:5px solid #FFE699;
	padding:50px;
	margin: 0 auto;
	text-align:center;
	font-size:large;
	color: #ccc;
}
span.icon-32-email {
	background: url('images/icon-32-email.png') no-repeat left;
}

.ph-send-output {
	width: 40em;
	height: 20em;
	overflow: auto;
	border: 1px solid #d5d5d5;
}

.ph-sending-msg-finish {
	font-weight: bold;
	font-style:italic
}
.ph-sending-msg {
	font-style:italic
}


