/* ######################### MENU STYLE #########################*/
#imSite { position: relative; }
#imMnMn > ul { z-index: 10001; }
#imMnMn ul > ul { z-index: 10002; }

/* Main Menu */

#imMnMn ul, #imPgMn ul {padding:0;margin:0;list-style-type:none; }
#imMnMn > ul > li { margin-left: 0px;  }
#imMnMn > ul > li:first-child { margin-left: 0; }
/* Links */
#imMnMnNode0 { background-image: url('../menu/index.png'); height: 30px; width: 120px; }
#imMnMnNode0 .imMnMnFirstBg { height: 30px; width: 120px; }
#imMnMnNode0:hover { background: none; background-image: none; }
#imMnMnNode0:hover .imMnMnFirstBg { background-image: url('../menu/index_h.png'); height: 30px; width: 120px;}
#imMnMnNode0.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode0.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/index_h.png'); height: 30px; width: 120px;}
#imMnMnNode4 { background-image: url('../menu/formacion.png'); height: 30px; width: 120px; }
#imMnMnNode4 .imMnMnFirstBg { height: 30px; width: 120px; }
#imMnMnNode4:hover { background: none; background-image: none; }
#imMnMnNode4:hover .imMnMnFirstBg { background-image: url('../menu/formacion_h.png'); height: 30px; width: 120px;}
#imMnMnNode4.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode4.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/formacion_h.png'); height: 30px; width: 120px;}
#imMnMnNode5 { background-image: url('../menu/evaluacion-revisar.png'); height: 30px; width: 120px; }
#imMnMnNode5 .imMnMnFirstBg { height: 30px; width: 120px; }
#imMnMnNode5:hover { background: none; background-image: none; }
#imMnMnNode5:hover .imMnMnFirstBg { background-image: url('../menu/evaluacion-revisar_h.png'); height: 30px; width: 120px;}
#imMnMnNode5.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode5.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/evaluacion-revisar_h.png'); height: 30px; width: 120px;}
#imMnMnNode7 { background-image: url('../menu/departamento.png'); height: 30px; width: 120px; }
#imMnMnNode7 .imMnMnFirstBg { height: 30px; width: 120px; }
#imMnMnNode7:hover { background: none; background-image: none; }
#imMnMnNode7:hover .imMnMnFirstBg { background-image: url('../menu/departamento_h.png'); height: 30px; width: 120px;}
#imMnMnNode7.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode7.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/departamento_h.png'); height: 30px; width: 120px;}
#imMnMnNode10 { background-image: url('../menu/actividades.png'); height: 30px; width: 120px; }
#imMnMnNode10 .imMnMnFirstBg { height: 30px; width: 120px; }
#imMnMnNode10:hover { background: none; background-image: none; }
#imMnMnNode10:hover .imMnMnFirstBg { background-image: url('../menu/actividades_h.png'); height: 30px; width: 120px;}
#imMnMnNode10.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode10.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/actividades_h.png'); height: 30px; width: 120px;}
#imMnMnNode14 { background-image: url('../menu/inovacion.png'); height: 30px; width: 120px; }
#imMnMnNode14 .imMnMnFirstBg { height: 30px; width: 120px; }
#imMnMnNode14:hover { background: none; background-image: none; }
#imMnMnNode14:hover .imMnMnFirstBg { background-image: url('../menu/inovacion_h.png'); height: 30px; width: 120px;}
#imMnMnNode14.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode14.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/inovacion_h.png'); height: 30px; width: 120px;}
#imMnMnNode15 { background-image: url('../menu/autoevaluacion.png'); height: 30px; width: 120px; }
#imMnMnNode15 .imMnMnFirstBg { height: 30px; width: 120px; }
#imMnMnNode15:hover { background: none; background-image: none; }
#imMnMnNode15:hover .imMnMnFirstBg { background-image: url('../menu/autoevaluacion_h.png'); height: 30px; width: 120px;}
#imMnMnNode15.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode15.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/autoevaluacion_h.png'); height: 30px; width: 120px;}
#imMnMnNode16 { background-image: url('../menu/novedades.png'); height: 30px; width: 120px; }
#imMnMnNode16 .imMnMnFirstBg { height: 30px; width: 120px; }
#imMnMnNode16:hover { background: none; background-image: none; }
#imMnMnNode16:hover .imMnMnFirstBg { background-image: url('../menu/novedades_h.png'); height: 30px; width: 120px;}
#imMnMnNode16.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode16.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/novedades_h.png'); height: 30px; width: 120px;}
#imMnMnNode17 { background-image: url('../menu/lomce.png'); height: 30px; width: 120px; }
#imMnMnNode17 .imMnMnFirstBg { height: 30px; width: 120px; }
#imMnMnNode17:hover { background: none; background-image: none; }
#imMnMnNode17:hover .imMnMnFirstBg { background-image: url('../menu/lomce_h.png'); height: 30px; width: 120px;}
#imMnMnNode17.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode17.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/lomce_h.png'); height: 30px; width: 120px;}
#imMnMn > ul > li.imMnMnSeparator { background: transparent url('../res/separatorh.png') no-repeat center center; width: 10px; height: 30px; }
#imMnMn .imMnMnFirstBg { display: block; background-repeat: no-repeat; cursor: pointer; width: 100%; }
#imMnMn a { border: none; cursor: pointer; }
#imMnMn .imMnMnFirstBg .imMnMnTxt {display: none;}
#imMnMn .imMnMnTxt { text-overflow: ellipsis; white-space: nowrap; }

/* SubMenu style */
#imMnMn li .imMnMnBorder {  background-repeat: no-repeat; background-position: left top; width: 120px; height: 30px; border-collapse: collapse; }
#imMnMn ul ul li { cursor: pointer; overflow: hidden; width: 120px; height: 30px; border-collapse: collapse; cursor: pointer; display: inline; }
#imMnMn ul ul li a { display: block; width: 120px; height: 30px; }
#imMnMn ul ul li > .imMnMnBorder, #imMnMn ul ul li > a > .imMnMnBorder { background-image: url('../menu/sub.png'); }
#imMnMn ul ul li:hover > a > .imMnMnBorder, #imMnMn ul ul li:hover > .imMnMnBorder { background-image: url('../menu/sub_h.png'); }
#imMnMn ul ul li.imMnMnSeparator:hover > a > .imMnMnBorder, #imMnMn ul ul li.imMnMnSeparator:hover > .imMnMnBorder { background-image: url('../menu/sub.png'); cursor: auto; }
#imMnMn ul ul li.imMnMnFirst > .imMnMnBorder, #imMnMn ul ul li.imMnMnFirst > a > .imMnMnBorder { background-image: url('../menu/sub_f.png'); }
#imMnMn ul ul li.imMnMnFirst:hover > a > .imMnMnBorder, #imMnMn ul ul li.imMnMnFirst:hover > .imMnMnBorder { background-image: url('../menu/sub_f_h.png'); }
#imMnMn ul ul li.imMnMnFirst.imMnMnSeparator:hover > a > .imMnMnBorder, #imMnMn ul ul li.imMnMnFirst.imMnMnSeparator:hover > .imMnMnBorder { background-image: url('../menu/sub_f.png'); cursor: auto; }
#imMnMn ul ul li.imMnMnMiddle > .imMnMnBorder, #imMnMn ul ul li.imMnMnMiddle > a > .imMnMnBorder { background-image: url('../menu/sub_m.png'); }
#imMnMn ul ul li.imMnMnMiddle:hover > a > .imMnMnBorder, #imMnMn ul ul li.imMnMnMiddle:hover > .imMnMnBorder { background-image: url('../menu/sub_m_h.png'); }
#imMnMn ul ul li.imMnMnMiddle.imMnMnSeparator:hover > a > .imMnMnBorder, #imMnMn ul ul li.imMnMnMiddle.imMnMnSeparator:hover > .imMnMnBorder { background-image: url('../menu/sub_m.png'); cursor: auto; }
#imMnMn ul ul li.imMnMnLast > .imMnMnBorder, #imMnMn ul ul li.imMnMnLast > a > .imMnMnBorder { background-image: url('../menu/sub_l.png'); }
#imMnMn ul ul li.imMnMnLast:hover > a > .imMnMnBorder, #imMnMn ul ul li.imMnMnLast:hover > .imMnMnBorder { background-image: url('../menu/sub_l_h.png'); }
#imMnMn ul ul li.imMnMnLast.imMnMnSeparator:hover > a > .imMnMnBorder, #imMnMn ul ul li.imMnMnLast.imMnMnSeparator:hover > .imMnMnBorder { background-image: url('../menu/sub_l.png'); cursor: auto; }
#imMnMn .imMnMnImg img { vertical-align: middle; padding: 0px; border: none; }
#imMnMn li .imMnMnBorder .imMnMnImg img.imMnMnHoverIcon { display: none; }
#imMnMn li:hover > a > .imMnMnBorder > .imMnMnTxt > .imMnMnImg img.imMnMnDefaultIcon { display: none; }
#imMnMn li:hover > a > .imMnMnBorder > .imMnMnTxt > .imMnMnImg img.imMnMnHoverIcon { display: inline; }
#imMnMn .imMnMnImg { display: block; height: 30px; line-height: 30px; float: left; cursor: pointer; }
#imMnMn .imMnMnImg img { position: relative; left: -7px;}
#imMnMn ul ul li .imMnMnTxt { overflow: hidden; text-align: left; margin: 0px; padding: 0px; padding-left: 11px;  width: 105px; line-height: 30px; height: 30px; }
#imMnMn ul ul li .imMnMnLevelImg { z-index: 100; position: relative; float: right; top: 12px; left: -5px; display: block; width: 7px; height: 7px; background-image: url('../res/imIconMenuLeft.gif'); background-position: center center; }

/* Normal font style */
#imMnMn ul ul .imMnMnTxt { width: 120px; height: 30px; text-decoration: none; text-align: left; font: normal normal 9.000pt Tahoma; color: #FFFFFF;}

/* Hover font style */
#imMnMn ul ul li:hover > a > .imMnMnBorder .imMnMnTxt,
#imMnMn > ul > li > ul li:hover a,
#imMnMn ul ul li:hover > .imMnMnBorder .imMnMnTxt,
#imMnMn > ul > li > div > ul li:hover a { text-decoration: none; color: #FFFFFF; }
#imMnMn ul .imMnMnSeparator, #imMnMn ul .imMnMnSeparator * { cursor: default; }

/* Section font style */
#imMnMn ul ul li.imMnMnSeparator > a > .imMnMnBorder .imMnMnTxt,
#imMnMn > ul > li > ul li.imMnMnSeparator:hover a,
#imMnMn ul ul li.imMnMnSeparator:hover > .imMnMnBorder .imMnMnTxt,
#imMnMn ul ul li.imMnMnSeparator > .imMnMnBorder .imMnMnTxt { text-decoration: none; color: #FFFFFF; font-weight: bold; }
#imMnMn ul a, #imMnMn ul a:hover, #imMnMn ul a:visited { font: inherit; color: inherit; text-align: inherit; text-decoration: none; }


/* MENU POSITION : HORIZONTAL VerticalMultipleColumn */
#imMnMn ul .autoHide, #imMnMn ul div .autoHide { display: none; }

/* ######################### MAIN MENU POSITION #########################*/

/* div: Menu container*/
#imMnMn { z-index:10000; }
#imMnMn > ul { position: relative; }
#imMnMn > ul > li div ul { position: absolute; }
#imMnMn > ul > li div ul ul { z-index:10100;}

/* First level menu style */
#imMnMn > ul > li { display: inline-block; width:120px; }
#imMnMn > ul > li div span { display:block; padding:0;}
#imMnMn a { display: block; width:120px;}
#imMnMn > ul > li > div a { float: left; }

/* ########################## SUB MENU POSITION #########################*/

#imMnMn.auto ul li div, #imMnMn > ul > li > ul { position: absolute; }
#imMnMn.auto ul li div ul li ul { position: absolute; width: 100%; left: 120px; z-index: 10100; }
/* Display */
#imMnMn.auto li:hover > ul.auto, #imMnMn.auto li:hover > div.auto { display:block; }
/* Hide */
#imMnMn.auto li ul.auto, #imMnMn.auto li div.auto { display: none; };
#imMnMn.auto ul li div.auto {display: none; }
#imMnMn.auto ul li:hover div.auto { display:block; }
#imMnMn ul li div > ul { width: 120px; display: block; float: left; position: relative; margin: 0; padding:0; }
#imMnMn ul li div ul li ul li ul { left: 120px;}
/* First level menu style */
#imMnMn ul li { width:120px; }
/* Main Menu container */
#imMnMn ul li span.imMnMnBorder { position: absolute; width: 120px; height: 30px; display: block; }
/* menu entry */
#imMnMn.auto ul li div ul li { display:block; }
#imMnMn.auto ul li div ul li ul
{ display:block; margin:0; padding:0;}
#imMnMn ul ul li .imMnMnBorder { overflow: hidden; }

/* PAGE MENU  */

#imPgMn { text-align: left; position: relative; width: 140px; float: left; padding-left: 5px; padding-right: 5px; padding-top: 5px; border-right: 2px solid transparent; }
#imPgMn ul { margin-right: 10px; border-top: 1px solid #808080; border-bottom: 1px solid #808080; border-left: 1px solid #808080; border-right: 1px solid #808080; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; overflow: hidden; width: 140px; }
#imPgMn li { cursor: default; display: inline; float: left; position: relative; margin-bottom: 1px; background-color: #DFFFBF; width: 140px; border-bottom: 1px solid #A9A9A9; }
#imPgMn li a { display: table; width: 100%; }
#imPgMn .imPgMnLast { border-bottom: none; }
#imPgMn li .imPgMnBorder { text-align: left; vertical-align: middle; display: table-row; width: 140px; }

/* Icon */
.imPgMnImg, .imPgMnCustomImg { margin-right: 3px; height: 22px; line-height: 22px; font-size: 18px; display: table-cell; vertical-align: top; }
.imPgMnImg img, .imPgMnCustomImg img { margin-left: 2px; vertical-align: middle; }
#imPgMn .imPgMnImg { width: 0px; }
#imPgMn .imPgMnCustomImg { width: 0px; }
.imPgMnImg img.imPgMnDefaultIcon, .imPgMnCustomImg img.imPgMnDefaultIcon { display: inline; }
.imPgMnImg img.imPgMnHoverIcon, .imPgMnCustomImg img.imPgMnHoverIcon { display: none; }
.imPgMnSeparator img { display: inline; }
#imPgMn ul li:hover .imPgMnImg img.imPgMnDefaultIcon { display: none; }
#imPgMn ul li:hover .imPgMnImg img.imPgMnHoverIcon { display: inline }
#imPgMn ul li:hover .imPgMnImg, #imPgMn li.imPgMnCurrent .imPgMnImg { width: 0px; }

/* Normal font style */
#imContent #imPgMn .imPgMnTxt { display: table-cell; padding: 6px 3px; text-decoration: none; font: normal normal 9.000pt Tahoma; color: #000000; }

/* Current or hover font style */
#imContent #imPgMn li:hover, #imContent #imPgMn li.imPgMnCurrent { cursor: pointer; background-color: #808080; cursor: pointer; }
#imContent #imPgMn li:hover a, #imContent #imPgMn li:hover .imPgMnTxt,#imContent #imPgMn li.imPgMnCurrent a, #imContent #imPgMn li.imPgMnCurrent .imPgMnTxt { cursor: pointer; text-decoration: none; color: #FFFFFF;  font-style: inherit; font-weight: inherit; }
/* Separator */
#imPgMn li.imPgMnSeparator .imPgMnImg { width: 0px; }

/* Section font style */
#imContent #imPgMn li.imPgMnSeparator a, #imContent #imPgMn li.imPgMnSeparator .imPgMnTxt, #imContent #imPgMn li.imPgMnSeparator:hover a, #imContent #imPgMn li.imPgMnSeparator:hover .imPgMnTxt{ cursor: auto; background-color: transparent; text-decoration: none; color: #000000; font-style: normal; font-weight: bold; }
#imContent #imPgMn li:hover.imPgMnSeparator { cursor: default; background-color: #DFFFBF; }
#imContent #imPgMn li.imPgMnSeparator, #imContent #imPgMn li.imPgMnSeparator:hover { background-color: transparent; }
#imContent #imPgMn ul a, #imContent #imPgMn ul a:hover, #imContent #imPgMn ul a:visited { background: none; font: inherit; color: inherit; text-align: inherit; text-decoration: none; }
#imPgMn ul > li.imMnPageClear { margin: 0; padding: 0; line-height: 0px; font-size: 0px; border-collapse: collapse; display: block; position: static; float: none; background-color: transparent; clear: both; border: none; }

/* End of file menu.css */