html {position: relative; margin: 0; padding: 0; background-color: #FFFFFF; background-image: url('bg.jpg'); background-position: left top; background-repeat: repeat; background-attachment: scroll;}
body {margin: 0; padding: 0; text-align: left;}
#imPage {margin: 15px auto 15px auto; width: 1110px; position: relative;}
#imHeaderBg {position: absolute; left: 0; top: 0; height: 165px; width: 100%; background-color: transparent; background-image: url('headerbg.jpg'); background-position: center center; background-repeat: repeat;}
#imHeader {margin-bottom: 30px; height: 80px; background-color: #E6FFEC; background-image: url('top.png'); background-position: top left; background-repeat: no-repeat;}
#imMnMn {position: absolute; top: 80px; left: 0;  height: 20px; width: 1100px; padding: 5px 5px 5px 5px; background-color: #BF008E; background-image: url('menu.png'); background-position: center center; background-repeat: repeat;}
#imMnMn > ul { text-align: left; }
#imMnMn li {display: inline}
#imContent {min-height: 380px; position: relative; width: 1100px; padding: 5px 5px 5px 5px; }
#imContentGraphics {min-height: 380px; position: absolute; top: 110px; bottom: 50px; left: 0; width: 1110px; background-color: #FFFFFF;}
#imFooterBg {position: absolute; left: 0; bottom: 0; height: 90px; width: 100%; background-color: transparent;}
#imFooter {position: relative; margin: 0 auto; height: 50px; width: 1110px; background-color: #FFF8DF; background-image: url('bottom.png'); background-position: top left; background-repeat: no-repeat;}
