/**
 * @author              Steven Palmer
 * @author url          http://coalaweb.com
 * @author email        support@coalaweb.com
 * @copyright           Copyright (c) 2015 Steven Palmer All rights reserved.
 */

.cwt-stats-lt-stars, .cwt-stats-ly-stars, 
.cwt-stats-lw-stars, .cwt-stats-lm-stars, 
.cwt-stats-la-stars {
    background:url(../icons/stars.png) no-repeat;
}

.cwt-stats-lt-stars, .cwt-stats-ly-stars,
.cwt-stats-lw-stars, .cwt-stats-lm-stars, 
.cwt-stats-la-stars {
    padding-left:20px;
    float:left;
}

.cwt-stats-lt-stars { background-position: 0px 2px; }
.cwt-stats-ly-stars { background-position: 0px -64px; }
.cwt-stats-lw-stars { background-position: 0px -130px; }
.cwt-stats-lm-stars { background-position: 0px -196px; }
.cwt-stats-la-stars { background-position: 0px -262px; }
