body {
    font-size: 14px !important;
    background: none repeat scroll 0 0 #eee !important;
    line-height: 2 !important;
    font-family: "Open Sans", serif, Helvetica, Arial, sans-serif !important;
}

.list-group a,
.list-group a:link {
    color: #fff !important;
}

.container {
    text-align: left !important;
    width: 98% !important;
}

#logo-labels {
    background: url(../images/logo4.png) no-repeat 20px 40px #2c88c5;
    box-shadow: 0 4px 0 #18a689;
    padding: 20px 10px;
    height: 118px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.fb-left {
    width: 24%;
}

#logo-labels h1 {
    font-family: "Open Sans", "arial", "Helvetica", "sans-serif";
    font-size: 18px;
    margin: 32px 0 0 260px;
    width: 200px;
    float: left;
}

#logo-labels h1 a, #logo-labels h1 a:link, #logo-labels h1 a:visited,
#logo-labels h1 a:active {
    display: block;
    width: 100%;
    height: 100%;
    color: #444444;
    text-decoration: none;
}

#logo-labels h1 a span, #logo-labels h1 a:link span, #logo-labels h1 a:visited span,
#logo-labels h1 a:active span {
    color: #444444;
}

#logo-labels ul {
    float: right;
    margin: 0;
    padding: 28px 10px 0 0;
    list-style: none;
    width: auto;
}

.logo-labels ul li {
    float: left;
    background: none;
    padding: 0 0 0 1px;
    font: 11px Arial;
    line-height: 1.9em;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    height: 22px;
}

.logo-labels ul li a, .logo-labels ul li a:link, .logo-labels ul li a:visited,
.logo-labels ul li a:active {
    float: left;
    background: url(../gfx/label-icons.gif) no-repeat left top;
    padding: 0 0 0 19px;
    color: #FFFFFF;
    text-decoration: none;
    height: 22px;
}

.logo-labels ul li.usermessage a, .logo-labels ul li.usermessage a:link,
.logo-labels ul li.usermessage a:visited, .logo-labels ul li.usermessage a:active {
    background: url(../gfx/label-icons.gif) no-repeat left -22px;
}

.logo-labels ul li.logout a, .logo-labels ul li.logout a:link,
.logo-labels ul li.logout a:visited, .logo-labels ul li.logout a:active {
    background: url(../gfx/label-icons.gif) no-repeat left -44px;
}

.logo-labels ul li span {
    float: left;
    background: url(../gfx/label.gif) no-repeat right top;
    padding: 0 8px 0 6px;
    overflow: hidden;
    cursor: pointer;
    height: 22px;
}

.logo-labels ul li:hover span {
    background: url(../gfx/label.gif) no-repeat right -22px;
}

.menu-search {
    border-bottom: 0 none;
    display: block;
    height: 40px;
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 100%;
    z-index: 999;
    padding-top: 0px;
    border-shadow: 0 1px 0 0 rgba(5, 38, 57, 0.05);
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.menu-search .search {
    float: right;
    padding: 4px 0 0;
}

.menu-search .search input {
    float: left;
    background: url(../gfx/search-input.gif) no-repeat left top transparent;
    border: 0;
    outline: none;
    padding: 4px 7px 6px;
    margin: 0;
    font-size: 10px;
    color: #c9c9c9;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 174px;
}

.menu-search .search input:focus {
    color: #5a5a5a;
}

.menu-search .search button {
    float: left;
    background: url(../gfx/search-button.gif) no-repeat left top transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    width: 28px;
    height: 22px;
}

#preview_menus {
    float: right;
    margin-right: 10px;
    margin-top: 40px;
    color: #fff;
}

#preview_menus a {
    background-color: #DC1B21;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    line-height: 15px;
}

.menu-search ul, .menu-search ul * {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-search ul {
    line-height: 1.0;
}

.menu-search ul li:hover {
    visibility: inherit;
}

.menu-search ul li {
    float: left;
    position: relative;
}

.menu-search ul a {
    display: block;
    position: relative;
}

.menu-search ul li:hover ul, .menu-search ul li.sfHover ul {
    left: 0;
    top: 31px; /* match top ul list item height */
    z-index: 99;
}

.menu-search ul li:hover li ul, .menu-search ul li.sfHover li ul {
    top: -999em;
}

.menu-search ul {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
}

.menu-search ul li {
    background: none repeat scroll 0 0 transparent;
    border-right: 1px solid #D9D9D9;
    height: 39px;
}

.menu-search ul li li {
    border-bottom: 1px solid #c3d0e1;
}

.menu-search ul li a, .menu-search ul li a:link, .menu-search ul li a:active,
.menu-search ul li a:visited {
    position: relative;
    z-index: 999;
    text-decoration: none;
    white-space: nowrap;
    background: none repeat-x scroll left top transparent;
    border-left: 0 solid #FFFFFF;
    border-right: 0 solid #999999;
    color: #666666;
    font-weight: bold;
    height: 39px;
    padding: 13px 16px 0px;
}

.text-normal {
    float: right;
    height: 95px;
    width: 115px;
}

.text-normal .help-icons {
    background-color: #00BFFF;
    border-radius: 8px;
    clear: both;
    float: right;
    font-size: 0;
    height: 44px;
    line-height: 0;
    margin: 5px 38px 2px;
    padding: 2px;
    position: relative;
    width: 44px;
}

.text-normal h4 {
    color: #444444;
    font-size: 12px;
    text-align: center;
}

.everythingOnOneLine {
    width: 100%;
    white-space: nowrap;
    display: inline-block;
    background-image: url("../images/topbar/header_mm_bg.png");
    height: 180px;
}

.version-updated, .version-outdated {
    /*background-color: #4caf50;*/
    border-radius: 2px;
    color: #ffffff;
    float: left;
    font-size: 11px;
    margin-left: 140px;
    margin-top: -15px;
    padding: 0 6px;
    font-weight: bold;
    opacity: 0.9;
}

.version-outdated {
    background-color: #f44336;
}

.version-update {
    background-color: #ff5722;
    border-radius: 2px;
    color: #ffffff;
    float: left;
    font-size: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    padding: 0 6px;
    border-width: 0;
    opacity: 0.9;
}

.version-update:hover,
.version-update:focus,
.version-update:active,
.version-update.active,
.open > .dropdown-toggle.version-update {
    color: #ffffff;
    background-color: #ff5722;
    font-weight: bold;
}

.jumbotron {
    overflow: hidden;

}

.action-icons {
    float: left;
    height: 160px;
    margin: 0 40px 10px;
    width: 12%;
}

.action-icons .action-icon {
    background-color: #18bc9c;
    border-radius: 8px;
    clear: both;
    float: left;
    font-size: 0;
    height: 100px;
    line-height: 0;
    margin: 10px 10px 10px 15px;
    padding: 10px;
    position: relative;
    width: 100px;
}

.action-icons a {
    color: #474950;
}

.action-icons h4 {
    float: left;
    width: 130px;
    text-align: center;
}

.jumbotron {
    background-color: #fefefe;
}

.container {
    background-color: #fff;
    padding-left: 0px;
    padding-right: 0px;
}

.fx-button {
    float: right;
}

.scanreport .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.dataTables_wrapper {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
}

.dataTable {
    border-bottom: 1px solid #ddd !important;
    float: left;
    margin-bottom: 5px;
}

.dataTable div.checker, .dataTable div.radio {
    display: inherit;
}

.dataTables_wrapper {
    float: left;
    width: 100%;
}

.dataTables_length {
    float: left;
    padding: 10px 5px;
}

.dataTables_length label, .dataTables_filter label {
    font-weight: normal;
    height: auto;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.panel.plain.panel-primary .panel-body {
    padding-top: 10px;
}

.dataTables_length select {
    display: inline;
    margin: 0 5px;
    width: 50px;
}

.dataTables_filter {
    float: right;
    padding: 10px 5px 11px;
}

.dataTables_filter label {
    float: right;
}

.dataTables_filter label input[type="text"] {
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    display: inline;
    margin-left: 5px;
    width: 150px;
}

td.dataTables_empty {
    color: #333;
    font-size: 11px;
    text-align: center;
}

.dataTables_info {
    float: left;
    font-size: 11px;
    line-height: 16px;
    padding: 8px 10px;
}

.dataTables_paginate {
    float: right;
    padding: 5px 5px 10px;
    text-align: right;
}

.dataTables_paginate a.paginate_disabled_previous, .dataTables_paginate a.paginate_disabled_next, .dataTables_paginate a.paginate_button, .paginate_enabled_next, .paginate_active, .paginate_enabled_previous {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    color: #333;
    float: left;
    font-size: 11px;
    margin-left: 3px;
    padding: 3px 5px;
    text-decoration: none;
}

.dataTables_paginate .paginate_enabled_next:hover, .dataTables_paginate a.paginate_button:hover, .dataTables_paginate .paginate_enabled_previous:hover {
    background: none repeat scroll 0 0 #f7fbfe;
    color: #2f9fe0;
    cursor: pointer;
    text-decoration: none;
}

.paginate_active {
    background: none repeat scroll 0 0 #2f9fe0;
    border-color: #2f9fe0;
    color: #fff;
}

.paginate_active:hover {
    color: #fff;
    text-decoration: none;
}

.dataTables_paginate a.paginate_disabled_previous, .dataTables_paginate a.paginate_button_disabled, .dataTables_paginate a.paginate_disabled_next {
    color: #ccc;
    cursor: default;
}

.dataTables_paginate a.paginate_button_disabled:hover {
    box-shadow: none;
    color: #ccc;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #0047ab;
    border: 1px solid #0047ab;
    color: #ffffff !important;
    float: left;
    line-height: 2;
    margin-left: -1px;
    position: relative;
    text-decoration: none;

}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {

}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 20px;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    padding-top: 20px;
    text-align: right;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border-color: rgba(158, 173, 195, 0.16);
    color: #918d99 !important;
    cursor: not-allowed;
    margin-right: 3px;
}

.sorting_desc, .sorting_asc, .sorting {
    cursor: pointer;
    position: relative;
    font-size: 12px;
}

.dataTable tfoot,
.dataTable td {
    font-size: 12px;
}

.dataTables_filter label {
    margin-right: 5px;
}

.sorting:before, .sorting_desc:before, .sorting_asc:before {
    display: block;
    float: right;
    height: 10px;
    opacity: 0.9;
    width: 10px;
}

.sorting_asc_disabled:before, .sorting_desc_disabled:before {
    opacity: 0.1;
}

.icons-list {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 10px 0;
    padding: 0;
    width: 100%;
}

.icons-list li {
    display: block;
    float: left;
    height: 20px;
    margin-bottom: 10px;
    width: 25%;
}

.icons-list li {
    color: #666;
    font-size: 11px;
    line-height: 20px;
}

.icons-list li:hover {
    color: #333;
    cursor: pointer;
}

.icons-list li span:first-child, .icons-list li i {
    color: #222;
    float: left;
    font-size: 16px;
    margin-right: 10px;
}

.panel-controls {
    margin-top: 10px;
}

.admin-form {
    margin: 10px auto;
}

.radio-inline {
    padding-left: 25px;
}

[class^="grid-"] {
    font-family: "icomoon";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

.dataTable a {
    text-decoration: none;
}

.grid-block:before,
.grid-accept:before,
.grid-error:before {
    content: "\e27e";
    font-size: 20px;
}

.grid-accept:before {
    color: #4caf50;
}

.grid-block:before {
    color: #f44336;
}

.grid-error:before {
    color: #f39c12;
}

.dataTable i {
    font-size: 14px;
}

.detailed-form .modal-dialog,
#configModal .modal-dialog,
#seoConfigModal .modal-dialog,
.phpconfig .modal-dialog,
#filecontentModal .modal-dialog {
    width: 90%;
}

.panel-controls-buttons {
    text-align: right;
    margin-top: 20px;
}

.pie-charts {
    width: 24%;
}

.easyPieChart {
    margin: 0 auto;
}

#scan_progress {
    float: left;
    width: 100%;
    top: 10px;
    left: 10px;
}

#scanbuttons {
    float: right;
    position: relative;
    right: 10px;
    top: 10px;
    width: auto;
}

#Config-Btn-List .btn {
    min-width: 220px;
}

.dataTable a,
.dataTable a:hover {
    text-decoration: none;
}

#back-to-admin {
    float: right;
}

#back-to-admin a {
    color: #fff !important;
}

/*.row {*/
/*margin-left: -15px !important;*/
/*margin-right: -15px !important;*/
/*!*margin-top: 25px;*!*/
/*}*/

#map-title{
    border-bottom: 1px solid;
    bottom: 80px;
    float: right;
    position: absolute;
    right: 35px;
    width: 500px;
    z-index: 4;
}
.panel-success > .panel-body {
    border-style:none;
    margin-top: 30px;
    margin-left: -30px;
    /*more info refer to bootstrap css file line 5556*/
}
}
#logo-labels a {
    text-decoration: none;
}

#logo-labels a,
#logo-labels i {
    color: #fff;
    font-weight: bold;
}

#logo-labels i {
    margin-right: 5px;
}

#logo-labels li {
    margin: 3px;
    padding: 5px 10px;
    background-color: #2980b9;
    border-radius: 2px;
}

.navbar.navbar-default {
    background: none;
    font-family: "Open Sans", serif;
    font-weight: 500;
    margin-bottom: 5px;
}

.dropdown-toggle > img {
    width: 45px;
}

.active img {
    margin-left: 14px;
    width: 45px;
}

.bs-component .navbar.navbar-default {
    float: left;
}

.nav li {
    border-right: 0px solid #fff;
    margin-bottom: 0px;
}

.nav li.active {

}

.dropdown li {
    border-bottom: 0px solid #2a95bc;
}

.navbar.navbar-default {
    font-family: "Open Sans", serif;
    font-weight: 500;
}

.navbar-top {
    background: none repeat scroll 0 0 #272634;
    transition: width 0.5s ease 0s;
    visibility: visible;
    opacity: 0.9;
}

.navbar-top {
    font-size: 11px;
    font-weight: normal;
    height: 30px;
    line-height: 11px;
    overflow: hidden;
    text-transform: none;
    transition: all 0.1s ease-out 0s;
}

.userMenu li {
    display: block;
    float: right;
}

.userMenu li a {
    color: #fff;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 30px;
    padding: 0 20px 0 0;
    text-decoration: none;
    transition: opacity 0.2s ease-out 0s;
}

.logo {
    width: 250px !important;
    height: 70px !important;
    margin-top: 20px !important;
    float: left !important;
    max-width: 250px !important;
}

#numofWebsite {
    color: #fff;
    font-weight: bold;
}

.table {
    margin-bottom: 5px;
    border-top: 1px solid #ddd;
}

.panel {
    margin-bottom: 10px;
}

.nav {
    background: none repeat scroll 0 0 transparent !important;
    border: 0px solid #fff !important;
}

.ruletips {
    font-size: 14px !important;
}

.panelRefresh .nav li {
    border-bottom: 0px solid #fff;
}

#selected_file {
    width: 100%;
    margin: 2px auto;
    font-size: 15px;
}

UL.filetree {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 33px;
    padding: 0px;
    margin: 0px;
}

UL.filetree LI {
    list-style: none;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 10px;
    white-space: nowrap;
}

UL.filetree A {
    color: #333;
    text-decoration: none;
    display: inline;
    padding: 0px 2px 0px 5px;
    margin-left: 10px;
}

UL.filetree A:focus {
    background: #BDF;
}

UL.filetree A:hover {
    background: #DDE4FF;
}

/*folder styles*/
.filetree LI.folder {
    float: left;
    width: 100%;
}

.filetree LI.folder.collapsed:before {
    font-family: 'Glyphicons Halflings';
    content: "\e117";
}

.filetree LI.expanded::before {
    font-family: 'Glyphicons Halflings';
    content: "\e118";
}

.filetree LI.file {
    background: url(../images/filetree/file.png) no-repeat left top;
}

.filetree LI.wait {
    background: url(../images/filetree/spinner.gif) no-repeat left top;
}

.filetree UL {
    border-left: 1px solid #D9DADB;
    padding-left: 10px;
}

.filetree LI UL LI:before {
    margin-left: -10px;
    /*content: "\2014";*/
    position: absolute;
}

.filetree LI UL LI {
    position: relative;
}

.login-form .panel-body,
#new-account-form .panel-body {
    min-height: 468px;
    border: 1px solid rgba(158, 173, 195, 0.16) !important;
}

.login-form .panel-heading {
    padding: 20px 15px;
    font-size: 13px;
    border-radius: 4px 4px 0px 0px;
}

.login-form p {
    margin: 0px;
}

.orderInfo {
    text-align: right;
    padding: 10px;
}

ul.nav-wizard {
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    *zoom: 1;
    position: relative;
    overflow: hidden;
}

ul.nav-wizard:before {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 46px;
    height: 47px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    z-index: 11;
    content: " ";
}

ul.nav-wizard:after {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 138px;
    height: 47px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    z-index: 11;
    content: " ";
}

ul.nav-wizard li {
    position: relative;
    float: left;
    height: 30px;
    display: inline-block;
    text-align: center;
    padding: 0 20px 0 30px;
    margin: 0;
    font-size: 13px;
    line-height: 30px;
    border: 1px solid rgba(158, 173, 195, 0.16);
}

ul.nav-wizard li a {
    color: #1e8bc3;
    padding: 0;
}

ul.nav-wizard li a:hover {
    background-color: transparent;
}

ul.nav-wizard li:before {
    position: absolute;
    display: block;
    border: 16px solid transparent;
    border-left: 16px solid #d4d4d4;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -16px;
}

ul.nav-wizard li:after {
    position: absolute;
    display: block;
    border: 16px solid transparent;
    border-left: 16px solid #fff;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -15px;
}

ul.nav-wizard li.active {
    color: #fff;
    background: #1e8bc3;
}

ul.nav-wizard li.active:after {
    border-left: 16px solid #1e8bc3;
}

ul.nav-wizard li.active a,
ul.nav-wizard li.active a:active,
ul.nav-wizard li.active a:visited,
ul.nav-wizard li.active a:focus {
    color: #fff;
    background: #1e8bc3;
    font-weight: bold;
}

ul.nav-wizard .active ~ li {
    color: #999999;
    background: #ededed;
}

ul.nav-wizard .active ~ li:after {
    border-left: 16px solid #ededed;
}

ul.nav-wizard .active ~ li a,
ul.nav-wizard .active ~ li a:active,
ul.nav-wizard .active ~ li a:visited,
ul.nav-wizard .active ~ li a:focus {
    color: #999999;
    background: #ededed;
}

ul.nav-wizard.nav-wizard-backnav li:hover {
    color: #468847;
    background: #f6fbfd;
}

ul.nav-wizard.nav-wizard-backnav li:hover:after {
    border-left: 16px solid #f6fbfd;
}

ul.nav-wizard.nav-wizard-backnav li:hover a,
ul.nav-wizard.nav-wizard-backnav li:hover a:active,
ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
    color: #468847;
    background: #f6fbfd;
}

ul.nav-wizard.nav-wizard-backnav .active ~ li {
    color: #999999;
    background: #ededed;
}

ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
    border-left: 16px solid #ededed;
}

ul.nav-wizard.nav-wizard-backnav .active ~ li a,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
    color: #999999;
    background: #ededed;
}

.nav-wizard li {
    border-bottom: 0px solid #fff !important;
}

#myTabContent {
    border: 1px solid rgba(158, 173, 195, 0.16);
    overflow: hidden;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    color: #3e4855;
    font-size: 14px;
}

.permpicpremium {
    width: 227px;
    height: 136px;
    background: url(../images/premium/permconfig.png) no-repeat;
}

.text {
    width: 227px;
    height: 136px;
    background: #FFF;
    opacity: 0;
}

.permpicpremium:hover .text {
    opacity: 0.8;
    text-align: justify;
    color: #000;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
    padding: 30px;
}

li.dropdown {
    display: block !important;
}

.xaxisLabel {
    bottom: 3px;
    left: 0;
    right: 0;
}

.yaxisLabel {
    top: 50%;
    left: 2px;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.axisLabel {
    position: absolute;
    text-align: center;
    font-size: 12px;
}

.backupType {
    padding: 10px;
    float: left;
}

.clickdropbox {
    padding: 10px;
    float: left;
}

.clickonedrive {
    padding: 10px;
    float: left;
}

.clickgoogledrive {
    padding: 10px;
    float: left;
}

.onoffswitch {
    padding-top: 10px;
    position: relative;
    width: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none !important;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid rgba(158, 173, 195, 0.16);
    border-radius: 10px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 16px;
    padding: 0;
    line-height: 16px;
    font-size: 13px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 18px;
    background-color: #EEEEEE;
    color: #4caf50;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 14px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 16px;
    margin: 0px;
    background: #A1A1A1;
    border: 1px solid rgba(158, 173, 195, 0.16);
    border-radius: 20px;
    position: absolute;
    top: 6px;
    bottom: 1px;
    right: 55px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.col-sm-4 {
    width: 33.3333% !important;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #4caf50;
}

.dropdown {
    text-align: center;
}

.button, .dropdown-menu {
    margin: 10px auto;
}

.dropdown-menu {
    min-width: 250px !important;
    border-radius: 3px !important;
    border: 0px solid #fff !important;
}

.navbar .nav > li > .dropdown-menu::after {
    position: relative !important;
    top: 0px !important;
    content: none !important;
}

.navbar .nav > li > .dropdown-menu::before {
    border-bottom: 0px solid rgba(0, 0, 0, 0.2) !important;
    border-left: 0px solid transparent !important;
    border-right: 0px solid transparent !important;
}

.everythingOnOneLine .navbar-default {
    float: left;
    margin: 5px auto 5px 40px;
    width: 100%;
}

.logo > img {
    margin-left: 14%;
    width: 275px;
    margin-top: 5px;
}

#versions {
    padding: 10px 20px;
    float: left;
    margin-top: 40px;
}

.centrora-news {
    float: left;
    margin-top: 35px;
    /*background-color: #00bcd4;*/
    border-radius: 2px;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0px;
    /*margin-left: 10px;*/
    opacity: 0.9;
    padding: 0 6px;
}

.centrora-affiliates {
    background-color: transparent;
    float: right;
    margin-top: 49px;
    border-radius: 2px;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
    opacity: 1;
    padding: 0px 6px;
}

.centrora-affiliates .btn {
    font-size: 10px;
    padding: 0px 6px;
}

.icon-separator {
    background-image: url("../images/topbar/speaker.png");
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
    border-right: 3px solid darkred;
    float: left;
    height: 80px !important;
    left: 0;
    padding: 18px 15px 16px;
    position: relative;
    text-align: center;
    width: 100px !important;
    margin-right: 30px;
}

.header-wrapper {
    color: darkred;
}

.header-wrapper small {
    display: block;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
    /*padding: 5px 0 0;*/
    text-transform: none;
    margin-left: 130px;
}

.dataTables_wrapper input,
.dataTables_wrapper select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dfe8f1;
    box-shadow: 1px 1px 3px #f6f6f6 inset;
    color: #2b2f33;
    font-size: 13px;
    padding: 2px;
}

#save-button, #save-button-fw {
    margin-top: 10px;
    float: right;
}

.download-message {
    text-align: center;
    margin-top: 30px;
}

.vsscanner-piechart {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(158, 173, 195, 0.16);
}

.alert-icon {
    float: left;
    height: 34px;
    line-height: 34px;
    margin: 5px 10px 0 0;
    text-align: center;
    width: 34px;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
}

.btn-config {
    background-color: transparent;
    color: #858598;
}

#configModal {
    max-width: 800px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#emailEditorForm .row {
    float: left;
    min-height: 35px;
    width: 100%;
    margin-top: 5px;
}

.mce-panel {
    background-color: #f0f0f0 !important;
    background-image: none !important;
    background-repeat: repeat-x;
    border: 1px solid #ddd !important;
}

.mce-btn {
    background-image: none !important;
}

.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    background-image: none !important;
}

.navbar-nav {
    float: left !important;
    margin: 0 !important;
}

.navbar-nav > li > a {
    padding: 11px 10px !important;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    box-shadow: none !important;
    text-shadow: none !important;
}

.caret {
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    border-top: 4px solid !important;
    display: inline-block !important;
    height: 0 !important;
    margin-left: 2px !important;
    vertical-align: middle !important;
    width: 0 !important;
    margin-top: 0px !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #eff4f6 !important;
    color: #2b2f33 !important;
    outline: 0 none !important;
    text-decoration: none !important;
    background-image: none !important;
}

.dropdown-menu > li > a {
    clear: both !important;
    display: block !important;
    font-weight: normal !important;
    line-height: 2 !important;
    white-space: nowrap !important;
}

.dropdown-menu li a {
    color: #858598 !important;
    padding: 5px 15px !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none !important;
    color: #2b2f33 !important;
    background-color: #eff4f6 !important;
    background-image: none !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    /*background-color: #faf9fa !important;*/
    color: white !important;
    margin-top: -5px;
}

label {
    display: inline-block !important;
    font-weight: bold !important;
    margin-bottom: 5px !important;
    max-width: 100% !important;
    font-size: 14px !important;
    padding: 8px 15px !important;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    box-shadow: none !important;
    border-radius: 0px !important;
}

.onoffswitch-label {
    padding: 0px !important;
}

label, input, button, select, textarea {
    line-height: 2 !important;
}



.step.active {
    background: #0047ab none repeat scroll 0 0;
}

.panel.plain.panel-primary .panel-heading {
    background-color: #0047ab;
}

.white-bg .panel-title {
    color: #3e4855;
}

/*vulnerability scanner*/
.vl-short-desc {
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-top: 20px;
    cursor: help;
}

.vl-long-desc {
    border: 2px dotted #808080;
    border-radius: 4px;
}

.vl-desc-item {
    padding: 10px 10px;
}

.bubble {
    background-color: #F37061;
    font-size: 10px !important;
    border-radius: 30px !important;
    min-width: 24px;
    padding: 3px -1px;
    margin-left: 5px;
    text-align: center;
    vertical-align: baseline;
    display: inline-block;
    white-space: nowrap;
    font-weight: 400;
    color: white;
}

.vl-tabs {
    width: 140px;
    margin-right: 5px;
    text-align: center;
}

/*-------- new backup page ---------*/

#breadcrumb {
    list-style: none;
    display: inline-block;
    padding-left: 33px;
}

#breadcrumb .icon {
    font-size: 14px;
}

#breadcrumb li {
    float: left;
}

#breadcrumb li a {
    color: #FFF;
    display: block;
    background: #3498db;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}

.breadcrumb-span {
    color: #000000;
    display: block;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
    font-size: 20px;
}

#breadcrumb li:nth-child(even) a {
    background-color: #2980b9;
}

#breadcrumb li:nth-child(even) a:before {
    border-color: #2980b9;
    border-left-color: transparent;
}

#breadcrumb li:nth-child(even) a:after {
    border-left-color: #2980b9;
}

#breadcrumb li a:before, #breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #3498db;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}

#breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}

#breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #3498db;
}

/*#breadcrumb li a:hover {*/
/*background-color: #1abc9c;*/
/*}*/
/*#breadcrumb li a:hover:before {*/
/*border-color: #1abc9c;*/
/*border-left-color: transparent;*/
/*}*/
/*#breadcrumb li a:hover:after {*/
/*border-left-color: #1abc9c;*/
/*}*/
/*#breadcrumb li a.select {*/
/*background-color: #1abc9c;*/
/*}*/
/*#breadcrumb li a.select:before {*/
/*border-color: #1abc9c;*/
/*border-left-color: transparent;*/
/*}*/
/*#breadcrumb li a.select:after {*/
/*border-left-color: #1abc9c;*/
/*}*/
/*#breadcrumb li a:active {*/
/*background-color: #16a085;*/
/*}*/
/*#breadcrumb li a:active:before {*/
/*border-color: #16a085;*/
/*border-left-color: transparent;*/
/*}*/
/*#breadcrumb li a:active:after {*/
/*border-left-color: #16a085;*/
/*}*/

.new_backup_pf_info {
    border: 3px dotted #877777;
    border-radius: 6px;
    min-height: 100px;

}

.dot-line {
    border-bottom: 2px dotted #EEEEEE;
    margin-bottom: 20px;
}

.backup-list-dotline {
    margin-top: 20px;
}

.btn_enable_dropbox {
    background-color: #1081DE;
    width: 20px;
}

.backup-config-item {
    height: 40px !important;
    margin-bottom: 10px;
}

.select-platform {
    padding: 8px 15px !important;
}

.backup-loading-info {
    color: #999999;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

.backup-loading-info-snippet {
    color: #999999;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    font-style: oblique;
}

.backup-short-desc {
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-top: 20px;
}

.backup-long-desc {
    border: 2px dotted #808080;
    border-radius: 4px;
}

.backup-item {
    padding: 10px 10px;
}


.backuplist-action {
    padding: 10px;
}

/*.panel-body a {*/
/*border-style: none;*/
/*color:white;*/
/*}*/


#btn_country, #btn_traffic, #btn_recentscan, #btn_recenthack, #btn_backup {
    background-color: rgba(153, 153, 153, 0.8);
    height: 40px;
    width: 165px;
    border-style: none;
    color: white;
}

#btn_country:focus {
    background-color: rgba(0, 51, 102, 0.7);
    margin-top: 4px;
    /*background-color: rgba(0,51,102, 0.7);*/
    width: 180px;
    padding-left: 40px;
    padding-top: 7px;
}

#btn_traffic:focus {
    background-color: rgba(0, 51, 102, 0.7);
    margin-top: 4px;
    width: 180px;
    padding-left: 40px;
    padding-top: 7px;
}

#btn_recentscan:focus {
    background-color: rgba(0, 51, 102, 0.7);
    margin-top: 4px;
    width: 180px;
    padding-left: 40px;
    padding-top: 7px;
}

#btn_recenthack:focus {
    background-color: rgba(0, 51, 102, 0.7);
    margin-top: 4px;
    width: 180px;
    padding-left: 40px;
    padding-top: 7px;
}

#btn_backup:focus {
    background-color: rgba(0, 51, 102, 0.7);
    margin-top: 4px;
    width: 180px;
    padding-left: 40px;
    padding-top: 7px;
}

.panel-body .col-md-12 {
    margin-top: 4px;
    padding-top:7px;
}

/*.panel-body .col-md-12:focus {*/
/*margin-top: 4px;*/
/*!*background-color: rgba(0,51,102, 0.7);*!*/
/*width: 180px;*/
/*padding-left:40px;*/
/*padding-top:7px;*/
/*}*/

#dropbox_authorize, #onedrive-authorize, #googledrive-authorize {
    width: 240px;
    background-color: #2a95bc;
    border:0px solid;
    border-radius: 3px;
}

.panel-teal > .panel-heading {
    background-color: #fff;
    border-color: white;
}
#world-map{
    width: 100%;
    height: 500px;
    padding-bottom: 25px;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: -50px;
    float: right;
}

.panel-heading {
    margin-top: 2%;
}
/*---------- end of new backup page -------------*/

a:focus, a:focus .media-icon img, .dropdown, .dropdown:focus, .dropdown:active {
    box-shadow: none !important;
}
.menubar-icons img {
    margin: 0 auto 0 13px;
    width: 45px;
}

/*---------- for all unsub pages -------------*/

#leavetous {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: rgba(102, 51, 51, 0.8);
    margin-top: -4%;
    margin-right: 10%;
    float: right;
}


#sub-header {
    margin-left: initial;
    width: 100%;
    box-shadow: 0 1px 4px darkgray;
}

#dashmenu {
    width: 200px;
}