#imCell_1 { display: block; position: relative; overflow: hidden; width: 1102px; min-height: 180px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_1 { position: relative; width: 1096px; min-height: 174px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_1 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_1_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_1_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_1_tab0 ul ul ul { list-style: circle; }
#imTextObject_1_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_1_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_1_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_1_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_1_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_1_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_1_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_1_tab0 p { margin: 0; padding: 0; }
#imTextObject_1_tab0 .inline-block { display: inline-block; }
#imTextObject_1_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_1_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_1_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_1_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_1_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_1_tab0 img.fleft { margin-right: 15px; }
#imTextObject_1_tab0 img.fright { margin-left: 15px; }
#imTextObject_1_tab0 .imUl { text-decoration: underline; }
#imTextObject_1_tab0 .imVt { vertical-align: top; }
#imTextObject_1_tab0 .imVc { vertical-align: middle; }
#imTextObject_1_tab0 .imVb { vertical-align: bottom; }
#imTextObject_1_tab0 .cf1 { color: rgb(64, 128, 0); }
#imTextObject_1_tab0 .fs60 { vertical-align: baseline; font-size: 60pt; line-height: 87px; }
#imCell_2 { display: block; position: relative; overflow: hidden; width: 548px; min-height: 256px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_2 { position: relative; width: 542px; min-height: 250px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#dynObj_02 { text-align: left; height: 250px; overflow-y: auto; overflow-x: hidden; margin: 0 auto; width: auto; }
#dynObj_02.editable { border: 1px dashed gray; }
#dynObj_02 ul { margin: 0px; list-style-type: disc; }
#dynObj_02 ol { margin: 0px; list-style-type: decimal; }
#dynObj_02 li { margin: 0px 0px 0px 25px; padding: auto; }
#dynObj_02 .editButton { display: block; position: absolute; bottom: 5px; right: 5px; }
#dynObj_02 div.wysiwyg { border: 1px solid #999; padding: 0; background: #fff; }
#dynObj_02 div.wysiwyg * { margin: 0; padding: 0; }
#dynObj_02 div.wysiwyg ul.toolbar { width: 100%; border-bottom: 1px solid #ccc; float: left; padding: 0; }
#dynObj_02 div.wysiwyg ul.toolbar li.jwysiwyg-custom-command { overflow: hidden; }
#dynObj_02 div.wysiwyg ul.toolbar li { list-style: none; float: left; margin: 2px 2px 4px 0; background: rgb(240, 240, 240); clear: none; padding: 0; }
#dynObj_02 div.wysiwyg ul.toolbar li.separator { background: none; width: 1px; height: 24px; margin: 0 4px 0px 5px; border: none; border-left: 1px solid #ccc; }
#dynObj_02 div.wysiwyg ul.toolbar li { text-indent: -5000px; display: block; width: 18px; height: 18px; background: url('../images/wysiwyg.gif') no-repeat -640px -800px; border: 1px solid transparent; cursor: pointer; }
#dynObj_02 div.wysiwyg ul.toolbar li.wysiwyg-button-hover, div.wysiwyg ul.toolbar li.active { background-color: #DDD; border: 1px solid transparent; }
#dynObj_02 div.wysiwyg ul.toolbar li.active { background-color: rgb(255, 255, 64); border: 1px solid rgb(208, 208, 208); border-left-color: #aaa; border-top-color: #aaa; height: 18px; width: 18px; }
#dynObj_02 div.wysiwyg ul.toolbar li.disabled, div.wysiwyg ul.toolbar li.wysiwyg-button-hover.disabled, div.wysiwyg ul.toolbar li.active.disabled { opacity: 0.5; filter:alpha(opacity=50); }
#dynObj_02 div.wysiwyg ul.toolbar li.bold { background-position: -1px -15px; }
#dynObj_02 div.wysiwyg ul.toolbar li.italic { background-position: -18px -15px; }
#dynObj_02 div.wysiwyg ul.toolbar li.strikeThrough { background-position: -36px -15px; }
#dynObj_02 div.wysiwyg ul.toolbar li.underline { background-position: -55px -15px; }
#dynObj_02 div.wysiwyg ul.toolbar li.highlight { background-position: -56px -106px; }
#dynObj_02 div.wysiwyg ul.toolbar li.justifyLeft { background-position: 0 2px; }
#dynObj_02 div.wysiwyg ul.toolbar li.justifyCenter { background-position: -18px 2px; }
#dynObj_02 div.wysiwyg ul.toolbar li.justifyRight { background-position: -36px 2px; }
#dynObj_02 div.wysiwyg ul.toolbar li.justifyFull { background-position: -55px 2px; }
#dynObj_02 div.wysiwyg ul.toolbar li.indent { background-position: -74px 1px; }
#dynObj_02 div.wysiwyg ul.toolbar li.outdent { background-position: -92px 1px; }
#dynObj_02 div.wysiwyg ul.toolbar li.subscript { background-position: -74px -15px; }
#dynObj_02 div.wysiwyg ul.toolbar li.superscript { background-position: -92px -15px; }
#dynObj_02 div.wysiwyg ul.toolbar li.undo { background-position: 0px -68px; }
#dynObj_02 div.wysiwyg ul.toolbar li.redo { background-position: -18px -69px; }
#dynObj_02 div.wysiwyg ul.toolbar li.insertOrderedList { background-position: -36px -49px; }
#dynObj_02 div.wysiwyg ul.toolbar li.insertUnorderedList { background-position: -19px -49px; }
#dynObj_02 div.wysiwyg ul.toolbar li.insertHorizontalRule { background-position: 0 -49px; }
#dynObj_02 div.wysiwyg ul.toolbar li.h1 { background-position: 0px -31px; }
#dynObj_02 div.wysiwyg ul.toolbar li.h2 { background-position: -18px -31px; }
#dynObj_02 div.wysiwyg ul.toolbar li.h3 { background-position: -36px -31px; }
#dynObj_02 div.wysiwyg ul.toolbar li.h4 { background-position: -55px -31px; }
#dynObj_02 div.wysiwyg ul.toolbar li.h5 { background-position: -74px -31px; }
#dynObj_02 div.wysiwyg ul.toolbar li.h6 { background-position: -92px -31px; }
#dynObj_02 div.wysiwyg ul.toolbar li.paragraph { background-position: 0px -106px; }
#dynObj_02 div.wysiwyg ul.toolbar li.colorpicker { background-position: -18px -106px; }
#dynObj_02 div.wysiwyg ul.toolbar li.fullscreen { background-position: -36px -106px; }
#dynObj_02 div.wysiwyg ul.toolbar li.cut { background-position: -36px -68px; }
#dynObj_02 div.wysiwyg ul.toolbar li.copy { background-position: -55px -68px; }
#dynObj_02 div.wysiwyg ul.toolbar li.paste { background-position: -74px -68px; }
#dynObj_02 div.wysiwyg ul.toolbar li.insertTable { background-position: -74px -49px; }
#dynObj_02 div.wysiwyg ul.toolbar li.increaseFontSize { background-position: -18px -87px; }
#dynObj_02 div.wysiwyg ul.toolbar li.decreaseFontSize { background-position: -36px -87px; }
#dynObj_02 div.wysiwyg ul.toolbar li.createLink { background-position: -92px -48px; }
#dynObj_02 div.wysiwyg ul.toolbar li.unLink { background-position: -74px -87px; }
#dynObj_02 div.wysiwyg ul.toolbar li.insertImage { background-position: -92px -87px; }
#dynObj_02 div.wysiwyg ul.toolbar li.html { background-position: -55px -49px; }
#dynObj_02 div.wysiwyg ul.toolbar li.removeFormat { background-position: -92px -68px; }
#dynObj_02 div.wysiwyg ul.toolbar li.empty { background-position: -73px -86px; }
#dynObj_02 div.wysiwyg ul.toolbar li.code { background-position: -74px -106px; }
#dynObj_02 div.wysiwyg ul.toolbar li.cssWrap { background-position: -92px -106px; }
#dynObj_02 div.wysiwyg ul.toolbar select { border: 1px solid gray; }
#dynObj_02 div.wysiwyg-dialogRow { float:left; width:100%; font-size: 16px; }
#dynObj_02 div.wysiwyg iframe { clear: left; box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4); background-color:white; padding:0px; margin:0; display:block; width: 100%; }
.wysiwyg-dialog { position:fixed; top:50px; left:50px; width:450px; height:300px; background:transparent; font:14px "Helvetic Neue", Helvetica,Arial,sans-serif; }
.wysiwyg-dialog .wysiwyg-dialog-topbar { background:#333; border:1px #111 solid; color:white; padding:10px; position:relative; }
.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-close-wrapper .wysiwyg-dialog-close-button { color:white; text-decoration:none; display:block; padding:6px 10px; position:absolute; right:12px; top:50%; height:14px; margin-top:-12px; }
.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-close-wrapper a.wysiwyg-dialog-close-button:hover { background:#666; }
.wysiwyg-dialog .wysiwyg-dialog-topbar .wysiwyg-dialog-title { font-size:20px; font-weight:bold; padding:5px; }
.wysiwyg-dialog .wysiwyg-dialog-content { border:1px #ccc solid; border-top:0; padding:15px; background:white; }
.wysiwyg-dialog-modal-div { z-index: 11000; position:absolute; top:0px; left:0px; width:100%; height:100%; background-color:rgb(255,255,255); background-color:rgba(0,0,0,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); }
.wysiwyg-dialog-content form.wysiwyg fieldset { border:1px #ccc solid; padding: 10px; }
.wysiwyg-dialog-content form.wysiwyg legend { padding:7px; }
.wysiwyg-dialog-content form.wysiwyg .form-row { clear:both; padding:4px 0; }
.wysiwyg-dialog-content form.wysiwyg .form-row label, .wysiwyg-dialog form.wysiwyg .form-row .form-row-key { display:block; float:left; width:35%; text-align:right; padding:4px 5px; }
.wysiwyg-dialog-content form.wysiwyg .form-row .form-row-value { display:block; float:left; width:55%; }
.wysiwyg-dialog-content form.wysiwyg .form-row input.width-auto { width:auto; }
.wysiwyg-dialog-content form.wysiwyg label { margin-left: 3px; }
.wysiwyg-dialog-content form.wysiwyg input[disabled] { background-color: #eee; color: #aaa; }
.wysiwyg-dialog-content form.wysiwyg input.width-small { width:50px; min-width:50px; max-width:50px; }
.wysiwyg-dialog-content form.wysiwyg input, .wysiwyg-dialog form.wysiwyg select { padding:2px; width:97%; margin:2px; }
.wysiwyg-dialog-content form.wysiwyg input[type=radio] { width: 15px; margin-right: 8px; }
.wysiwyg-dialog-content form.wysiwyg input[type=submit], .wysiwyg-dialog form.wysiwyg input[type=reset] { padding:2px 7px; width:auto; }
#dynObj_02 div.wysiwyg { margin-bottom: 5px; }
